---
import ComponentPreview from "../components/partials/ComponentPreview.astro";
import ComponentStaticPreview from "../components/partials/ComponentStaticPreview.astro";
import ComponentSection from "../components/partials/ComponentSection.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import CodeGroup from "../shared/components/code/CodeGroup.astro";
import CodeBlock from "../shared/components/code/CodeBlock.astro";
import CodeEmbed from "../shared/components/code/CodeEmbed.page-ssr.astro";
import Code from "astro/components/Code.astro";
import YouTube from "../shared/components/general/YouTube.page-ssr.astro";
import Alert from "../shared/components/general/Alert.page-ssr.astro";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>CMS Components</h1>
		<a href="/">Back</a>

		<ComponentSection title="Code Components">
			<ComponentStaticPreview
				id="code-group"
				title="Code Group"
				snippet={`<CodeGroup tabs={['npm', 'yarn', 'pnpm']} default="npm">
	<CodeBlock tab="yarn">
      <Code lang="bash" code="yarn"/>
    </CodeBlock>
    <CodeBlock tab="npm">
      <Code lang="bash" code="npm install"/>
    </CodeBlock>
    <CodeBlock tab="pnpm">
      <Code lang="bash" code="pnpm install"/>
    </CodeBlock>
  </CodeGroup>`}
			>
				<CodeGroup tabs={["npm", "yarn", "pnpm"]} default="npm">
					<CodeBlock tab="yarn">
						<Code lang="bash" code="yarn" />
					</CodeBlock>
					<CodeBlock tab="npm">
						<Code lang="bash" code="npm install" />
					</CodeBlock>
					<CodeBlock tab="pnpm">
						<Code lang="bash" code="pnpm install" />
					</CodeBlock>
				</CodeGroup>
			</ComponentStaticPreview>
		</ComponentSection>

		<ComponentSection>
			<ComponentStaticPreview
				id="code-group"
				title="Code Group without menu"
				snippet={`<CodeGroup tabs={['npm']} default="npm">
	<CodeBlock tab="npm">
		<Code code="npm"/>
	</CodeBlock>
</CodeGroup>`}
			>
				<CodeGroup tabs={["npm"]} default="npm">
					<CodeBlock tab="npm">
						<Code code="npm" />
					</CodeBlock>
				</CodeGroup>
			</ComponentStaticPreview>
		</ComponentSection>

		<ComponentSection>
			<ComponentStaticPreview id="CodeEmbed" title="Code Embed Component" snippet={`<CodeEmbed src=""/>`}>
				<CodeEmbed src="https://codepen.io/sandrarodgers/embed/jOBrmrw" />
			</ComponentStaticPreview>
			<ComponentPreview id="youtube" title="YouTube Component" snippet={`<YouTube id="kgCUn4fQTsc" />`}>
				<div class="max-w-2xl">
					<YouTube id="kgCUn4fQTsc" />
				</div>
			</ComponentPreview>
			<ComponentPreview
				id="alert-info"
				title="Alert - Info"
				snippet={`<Alert type="info">
	<p>This post is effectively part 2 on building and publishing npm packages. If you haven't read the first post, click here <a href="/">Test link</a></p>
		<ul>
			<li>point one</li>
			<li>point two</li>
			<li>point three</li>
	</ul>
</Alert>`}
			>
				<div class="max-w-2xl">
					<Alert type="info"
						><p>This post is effectively part 2 on building and publishing npm packages. If you haven't read the first post, click here <a href="/">Test link</a></p>
						<ul>
							<li>point one</li>
							<li>point two</li>
							<li>point three</li>
						</ul>
					</Alert>
				</div>
			</ComponentPreview>
			<ComponentPreview
				id="alert-warning"
				title="Alert - Warning"
				snippet={`<Alert type="warning">This post is effectively part 2 on building and publishing npm packages.</Alert>`}
			>
				<div class="max-w-2xl">
					<Alert type="warning">This post is effectively part 2 on building and publishing npm packages. If you haven't read the first post...</Alert>
				</div>
			</ComponentPreview>
			<ComponentPreview
				id="alert-language"
				title="Alert - Language"
				snippet={`<Alert type="language">This post is effectively part 2 on building and publishing npm packages.</Alert>`}
			>
				<div class="max-w-2xl">
					<Alert type="language">This post is effectively part 2 on building and publishing npm packages. If you haven't read the first post...</Alert>
				</div>
			</ComponentPreview>
			<ComponentPreview
				id="panel-info"
				title="Panel - Info"
				snippet={`<Panel type="info" title="Build a Live Streaming Web Application with Amazon IVS and Deepgram (SERIES)">
	<ol>
		<li>
			<a href="https://developers.deepgram.com/blog/2022/03/build-a-livestream-web-application-with-amazon-ivs-and-deepgram/"
				>How to Build a Live Streaming Web Application with Amazon IVS and Deepgram
			</a>
		</li>
		<li>
			<a href="https://developers.deepgram.com/blog/2022/03/build-a-livestream-web-application-vue-and-express-setup/">
				Build a Live Streaming Web Application: Vue and Express Setup
			</a>
		</li>
		<li>
			<a href="https://developers.deepgram.com/blog/2022/03/how-to-write-vue-3-composables-for-a-third-party-API-integration/">
				How to Write Vue 3 Composables for a Third-Party API Integration
			</a>
		</li>

		<li>
			<a href="https://developers.deepgram.com/blog/2022/03/asynchronous-logic-to-write-a-vue-3-and-deepgram-captions-component/">
				Asynchronous Logic to Write a Vue 3 and Deepgram Captions Component
			</a>
		</li>
	</ol>
</Panel>`}
			>
				<div class="max-w-2xl">
					<Panel type="info" title="Build a Live Streaming Web Application with Amazon IVS and Deepgram (SERIES)">
						<ol>
							<li>
								<a href="https://developers.deepgram.com/blog/2022/03/build-a-livestream-web-application-with-amazon-ivs-and-deepgram/"
									>How to Build a Live Streaming Web Application with Amazon IVS and Deepgram
								</a>
							</li>
							<li>
								<a href="https://developers.deepgram.com/blog/2022/03/build-a-livestream-web-application-vue-and-express-setup/">
									Build a Live Streaming Web Application: Vue and Express Setup
								</a>
							</li>
							<li>
								<a href="https://developers.deepgram.com/blog/2022/03/how-to-write-vue-3-composables-for-a-third-party-API-integration/">
									How to Write Vue 3 Composables for a Third-Party API Integration
								</a>
							</li>

							<li>
								<a href="https://developers.deepgram.com/blog/2022/03/asynchronous-logic-to-write-a-vue-3-and-deepgram-captions-component/">
									Asynchronous Logic to Write a Vue 3 and Deepgram Captions Component
								</a>
							</li>
						</ol>
					</Panel>
				</div>
			</ComponentPreview>
			<ComponentPreview
				id="panel-warning"
				title="Panel - Warning"
				snippet={`<Panel type="warning" title="Node only">
	The SDK only supports sending Buffers from Node. The in-browser version of the SDK only provides the capability to send URL sources.
</Panel>`}
			>
				<div class="max-w-2xl">
					<Panel type="warning" title="Node only">
						The SDK only supports sending Buffers from Node. The in-browser version of the SDK only provides the capability to send URL sources.
					</Panel>
				</div>
			</ComponentPreview>
		</ComponentSection>
	</PrimarySection>
</Layout>
