---
import BlogCardSmall from "../shared/components/cards/BlogCardSmall.astro";
import BlogCardList from "../shared/components/lists/BlogCardList.astro";
import Layout from "../layouts/Default.astro";
import LibraryIntro from "../components/partials/LibraryIntro.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import NoLinkCardListTitle from "../shared/components/titles/NoLinkCardListTitle.astro";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Component Library</h1>

		<LibraryIntro />

		<div class={`w-full py-10`}>
			<div class="relative mx-auto">
				<NoLinkCardListTitle slot="title" title="Component Sections" />
				<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center gap-6 md:gap-8 lg:gap-10">
					<BlogCardSmall href="/decoration" title="Decorative Components" image="//placeimg.com/1200/627/any" />
					<BlogCardSmall href="/blog" title="Blog Components" image="//placeimg.com/1200/627/any/2" />
					<BlogCardSmall href="/marketing" title="Marketing Components" image="//placeimg.com/1200/627/any/3" />
					<BlogCardSmall href="/cms" title="CMS Components" image="//placeimg.com/1200/627/any/4" />
					<BlogCardSmall href="/author" title="Author Components" image="//placeimg.com/1200/627/any/5" />
				</div>
			</div>
		</div>
	</PrimarySection>
</Layout>
