---
import ComponentSection from "../components/partials/ComponentSection.astro";
import ComponentStaticPreview from "../components/partials/ComponentStaticPreview.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import AmplifyQuote from "../shared/components/quotes/AmplifyQuote.astro";
import CodeGroup from "../shared/components/code/CodeGroup.astro";
import CodeBlock from "../shared/components/code/CodeBlock.astro";
import Code from "astro/components/Code.astro";
import CodeEmbed from "../shared/components/code/CodeEmbed.astro";
import YouTube from "../shared/components/general/YouTube.astro";
import WebinarPromo from "../shared/components/promos/WebinarPromo.astro";
import WhitepaperPromo from "../shared/components/promos/WhitepaperPromo.astro";
import NewsletterPromo from "../shared/components/promos/NewsletterPromo.astro";
import EventPromo from "../shared/components/promos/EventPromo.astro";
import newsletterImg from "../shared/assets/temp_images/newsletter.svg";
import webinarImg from "../shared/assets/temp_images/webinar.png";
import whitepaperImg from "../shared/assets/temp_images/quotes.svg";
import eventImg from "../shared/assets/temp_images/apples.png";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Sandra's Sandbox</h1>

		<a href="/">Back</a>

		<ComponentSection title="Stuff I am working on">
			<ComponentSection title="Promo">
				<div class="mt-10">
					<NewsletterPromo backgroundColor="white" textColor="" backgroundImage={newsletterImg} />
					<WebinarPromo date="09-10-22" backgroundColor="#FB3640" textColor="" backgroundImage={webinarImg} />
					<WhitepaperPromo backgroundColor="#1E2C3C" textColor="white" straplineColor="#FE5C5C" backgroundImage={whitepaperImg} />
					<EventPromo
						backgroundColor="#1E2C3C"
						textColor="white"
						straplineColor="#FE5C5C"
						title="Try the ASR Comparison Tool"
						strapline="Using google or amazon STT?"
						backgroundImage={eventImg}
					/>
				</div>
			</ComponentSection>
		</ComponentSection>
	</PrimarySection>
</Layout>
