---
import ComponentSection from "../components/partials/ComponentSection.astro";
import ComponentStaticPreview from "../components/partials/ComponentStaticPreview.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import AmplifyQuote from "../shared/components/quotes/AmplifyQuote.astro";
import CodeGroup from "../shared/components/code/CodeGroup.astro";
import CodeBlock from "../shared/components/code/CodeBlock.astro";
import Code from "astro/components/Code.astro";
import CodeEmbed from "../shared/components/code/CodeEmbed.astro";
import YouTube from "../shared/components/general/YouTube.astro";
import WebinarPromo from "../shared/components/promos/WebinarPromo.astro";
import WhitepaperPromo from "../shared/components/promos/WhitepaperPromo.astro";
import NewsletterPromo from "../shared/components/promos/NewsletterPromo.astro";
import EventPromo from "../shared/components/promos/EventPromo.astro";
import newsletterImg from "../shared/assets/temp_images/newsletter.svg";
import webinarImg from "../shared/assets/temp_images/webinar.png";
import whitepaperImg from "../shared/assets/temp_images/quotes.svg";
import eventImg from "../shared/assets/temp_images/apples.png";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Sandra's Sandbox</h1>

		<a href="/">Back</a>

		<ComponentSection title="Stuff I am working on">
			<ComponentSection title="Promo">
				<div class="my-10">
					<div class="my-4">
						<NewsletterPromo
							theme="white"
							backgroundImage={newsletterImg}
							title="Get Deepgram news and product updates."
							formText={[{ label: "Work email", placeholder: "you@company.com" }]}
						/>
					</div>
					<div class="my-4">
						<WebinarPromo
							title="How to Make Your Application Voice-Ready"
							date="09-10-22"
							humanReadableDate="Wed Apr 27 11a PT | 12p ET"
							theme="red"
							backgroundImage={webinarImg}
							formText={[
								{ label: "Name (first and last)", placeholder: "Your name" },
								{ label: "Work email", placeholder: "you@company.com" },
								{ label: "Role", placeholder: "Role/Title" },
							]}
						/>
					</div>
					<div class="my-4">
						<WhitepaperPromo theme="black" backgroundImage={whitepaperImg} />
					</div>
					<div class="my-4">
						<EventPromo
							title="Try the ASR Comparison Tool"
							strapline="Using google or amazon STT?"
							formText={[
								{ label: "Name (first and last)", placeholder: "Your name" },
								{ label: "Work email", placeholder: "you@company.com" },
								{ label: "Role", placeholder: "Role/Title" },
							]}
							theme="black"
							backgroundImage={eventImg}
						/>
					</div>
				</div>
			</ComponentSection>
		</ComponentSection>
	</PrimarySection>
</Layout>
