---
import ComponentSection from "../components/partials/ComponentSection.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import WebinarPromo from "../shared/components/promos/WebinarPromo.astro";
import WhitepaperPromo from "../shared/components/promos/WhitepaperPromo.astro";
import NewsletterPromo from "../shared/components/promos/NewsletterPromo.astro";
import EventPromo from "../shared/components/promos/EventPromo.astro";
import webinarImg from "../shared/assets/temp_images/red-ticks.svg";
import whitepaperImg from "../shared/assets/temp_images/black-quote.svg";
import eventImg from "../shared/assets/temp_images/black-arrows.svg";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Sandra's Sandbox</h1>

		<a href="/">Back</a>

		<ComponentSection title="Stuff I am working on">
			<ComponentSection title="Promo">
				<div class="my-10">
					<div class="my-4">
						<NewsletterPromo />
					</div>
					<div class="my-4">
						<WebinarPromo
							title="How to Evaluate ASR Solutions"
							date="2022-09-10T14:09:44.129Z"
							humanReadableDate="Wed Apr 27 11a PT | 12p ET"
							theme="red"
							backgroundImage={webinarImg}
							formText={[
								{ label: "Name (first and last)", placeholder: "Your name" },
								{ label: "Work email", placeholder: "you@company.com" },
								{ label: "Role", placeholder: "Role/Title" },
							]}
							buttonText="Register"
						/>
					</div>
					<div class="my-4">
						<WhitepaperPromo
							title="How to Make Your Application Voice-Ready"
							theme="black"
							backgroundImage={whitepaperImg}
							formText={[
								{ label: "Name (first and last)", placeholder: "Your name" },
								{ label: "Work email", placeholder: "you@company.com" },
								{ label: "Role", placeholder: "Role/Title" },
							]}
							buttonText="Download"
						/>
					</div>
					<div class="my-4">
						<EventPromo
							title="Try the ASR Comparison Tool"
							strapline="Using google or amazon STT?"
							formText={[
								{ label: "Name (first and last)", placeholder: "Your name" },
								{ label: "Work email", placeholder: "you@company.com" },
								{ label: "Role", placeholder: "Role/Title" },
							]}
							theme="black"
							backgroundImage={eventImg}
							buttonText="Try it Free"
						/>
					</div>
				</div>
			</ComponentSection>
		</ComponentSection>
	</PrimarySection>
</Layout>
