---
import PrimarySection from "../layout/PrimarySection.astro";
import Svg from "../Svg.astro";
---

<PrimarySection class="amplify-quote flex">
  <div>
    <Svg name="amplify" class="h-[12rem] sm:h-[24rem] lg:h-[48rem] w-auto" />
  </div>
  <div class="flex flex-col justify-center items-start pl-9">
    <slot />
  </div>
</PrimarySection>

<style>
  .amplify-quote :global(h2) {
    @apply text-storm;
  }
</style>