---
import PrimarySection from "../layout/PrimarySection.astro";

const brands = [
// these logos are priority based on figma showing them on different breakpoints.
// auth0 spotify nasa twilio citi and daily seem to be the most visible
//
// other logos not included here appear on none of the designs.
'khoros', 'rasa', 'auth0', 'spotify', 'nasa', 'twilio', 'citi', 'daily-co', 'volley', 'workable', 'knock-crm', 're-infer', 'revenue-io-one', 'veed-io'
];
---

<PrimarySection class="brand-showcase my-28">
  <div class="flex flex-col items-center">
    <h4>Trusted by the world’s most innovative brands. </h4>
    <ul class="flex flex-wrap justify-center xl:min-w-max">
      {brands.map(brand=>{
        return <li><img class="w-auto" src={`/brand-showcase/${brand}-logo-storm@2x.png`} /></li>
      })}
    </ul>
  </div>
</PrimarySection>

<style>
  .brand-showcase li {
    @apply w-32 md:w-40 lg:w-32;
    @apply [&:nth-child(n+10)]:hidden;
    @apply sm:[&:nth-child(n+9)]:hidden;
    @apply lg:[&:nth-child(n+7)]:hidden;
    @apply xl:[&:nth-child(n)]:list-item;
  }
</style>