---
import FullWidthSection from "../layout/FullWidthSection.astro"


const brands = ['callbi', 'calltrackingmetrics', 'converge-one', 'elerian-ai', 'fireside', 'goldcast', 'nytro', 'onereach',
'revenue-io-one', 'veed-io', 'khoros', 'rasa', 'auth0', 'spotify', 'nasa', 'twilio', 'citi', 'daily-co', 'volley', 'workable', 'knock-crm', 're-infer', // priority
'randall-reilly', 'redbox', 'salesken', 'sharpen', 'tethr', 'update-ai', 'valyant-ai', 'vocinity',]
---

<FullWidthSection class={`brand-showcase`}>
  <div class="flex flex-col items-center">
    <h2>Hell yes, we have SDKs.</h2>
    <div class="flex justify-center w-screen space-x-10">
      {brands.map(brand=>{
        return <img class="h-32" src={`/brand-showcase/${brand}-logo-storm@2x.png`} />
      })}
    </div>
  </div>
</FullWidthSection>