---
import Icon from "../Icon.astro"

const details = [{
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar",
  webinarDateTime:"TUE APR 27 11A PT | 2P ET"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar"
}]
---

<section class="community-posts mb-24">
  <div class="max-w-screen-2xl mx-auto">
    <div class="-mx-96 bg-starburst px-96">
      <div class="px-4 md:px-6 lg:px-10 flex flex-col"> 
        <h2 class="text-center">What’s new in the community.</h2>
        <div class="pt-12 flex justify-center space-x-8">
          <a><Icon icon="twitter" class="fill-current w-10"/></a>
          <a><Icon icon="github" class="fill-current w-10"/></a>
          <a><Icon icon="linkedin" class="fill-current w-10"/></a>
        </div>
        <div class="pt-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-10 lg:gap-8 2xl:gap-10">
          {details.map((detail) => {
            return <div class="card">
            <img src="/hello-world-blog@2x.jpg"/>
            <div class="details p-4">
              <p class="text-sm mb-4">{`#${detail.tags[0]}`}</p>
              <h4>{detail.title}</h4>
              <p class="text-sm font-bold mt-20">{detail.author.toUpperCase()}</p>
              </div>
            </div>
          })}
        </div>
      </div>
    </div>
</div>
</section>


<style>
.card {
  @apply w-full md:w-5/6 md:w-full;
  backdrop-filter: blur(10px);
  background-color: rgba(79, 98, 120, 0.3);
  @apply h-full;
}
</style>