---
import Icon from "../../shared/components/general/Icon.astro";
import FlareSection from "../../shared/components/layout/FlareSection.astro";

const details = [
	{
		image: "audiofile",
		title: "Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
		detail: "",
		tags: ["Vue"],
		author: "Nikola Whallon",
		cardType: "blog",
	},
	{
		image: "audiofile",
		title: "Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
		detail: "",
		tags: ["Vue"],
		author: "Nikola Whallon",
		cardType: "blog",
	},
	{
		image: "audiofile",
		title: "Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
		detail: "",
		tags: ["Vue"],
		author: "Nikola Whallon",
		cardType: "blog",
	},
	{
		image: "audiofile",
		title: "How to Evaluate ASR Solutions or it might be a longer title",
		detail: "In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
		tags: [],
		author: "",
		cardType: "webinar",
		webinarDateTime: "TUE APR 27 11A PT | 2P ET",
	},
	{
		image: "audiofile",
		title: "How to Evaluate ASR Solutions or it might be a longer title",
		detail: "In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
		tags: [],
		author: "",
		cardType: "webinar",
	},
	{
		image: "audiofile",
		title: "How to Evaluate ASR Solutions or it might be a longer title",
		detail: "In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
		tags: [],
		author: "",
		cardType: "webinar",
	},
];
---

<FlareSection class="community-posts" background="bg-starburst">
	<div class="flex flex-col space-y-20">
		<h2 class="text-center">What’s new in the community.</h2>
		<div class="flex justify-center space-x-8">
			<a><Icon icon="twitter" class="fill-current w-10" /></a>
			<a><Icon icon="github" class="fill-current w-10" /></a>
			<a><Icon icon="linkedin" class="fill-current w-10" /></a>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-10 lg:gap-8 2xl:gap-10">
			{details.map((detail) => {
				return (
					<div class="bg-steel/50 bg-blur">
						<img src="/hello-world-blog@2x.jpg" />
						<div class="details p-4">
							<p class="mb-4 text-sm">{`#${detail.tags[0]}`}</p>
							<h4>{detail.title}</h4>
							<p class="mt-20 text-sm font-bold">{detail.author.toUpperCase()}</p>
						</div>
					</div>
				)
			})}
		</div>
	</div>
</FlareSection>
