---
import DemoTranscription from "./demo/DemoTranscription.vue";
import FlareSection from "../../shared/components/layout/FlareSection.astro";
import Icon from "../../shared/components/general/Icon.astro";
---

<FlareSection class="demo-transcription" background="bg-saturn">
	<div class="flex flex-col text-center py-10">
		<h2>
			Really fast. Really accurate.<br />Give it a try.<br />
			<Icon icon="arrow-down" class="fill-current w-10 inline" />
		</h2>
	</div>
	<DemoTranscription client:load />
</FlareSection>
