---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import ItemColumn from "../parts/ItemColumn.astro";

const features = [
  {
    icon: "easy-button",
    title: "Easy to use, easy to integrate",
    detail:
      "Built by developers for developers with the tools you want: APIs, SDKs....",
    cta: "View SDKs",
    link: "/product",
  },
  {
    icon: "rocket-bulb",
    title: "Built for rapid innovation",
    detail:
      "Our flexible architecture and transfer learning allows us to innovate quickly.",
    cta: "See Changelog",
    link: "/product",
  },
  {
    icon: "ai-brain",
    title: "Focused on NLU capabilities",
    detail:
      "Stop building features from scratch. Deepgram has 3+ NLU features and counting.",
    cta: "View Features",
    link: "/product",
  },
  {
    icon: "cleaned-audio",
    title: "Human-level accuracy on real-life audio",
    detail:
      "Background noise, multiple speakers, cross-talk—get top accuracy on tough audio.",
    cta: "Give it a Try",
    link: "/product",
  },
  {
    icon: "fast-timer",
    title: "Unparalleled speed",
    detail:
      "Create human-like conversational AI experiences, real-time analytics, and enablement.",
    cta: "See Use Cases",
    link: "/product",
  },
  {
    icon: "batch-transcription-bolt",
    title: "Transcribe thousands of files concurrently",
    detail:
      "We use GPUs to process exponentially more audio without breaking the bank.",
    cta: "View Product",
    link: "/product",
  },
  {
    icon: "clock-target-cost-scale",
    title: "Cost-effective pricing",
    detail:
      "Accuracy, speed, and scaleability don’t have to cost the proverbial arm and leg.",
    cta: "View Pricing",
    link: "/product",
  },
  {
    icon: "check-mark-outline",
    title: "Bottom line: It just works.",
    detail: "Get STT that can TCB and deliver actually usable transcripts.",
    cta: "See for Yourself",
    link: "/product",
  },
];
---

<PrimarySection class="feature-showcase">
  <div
    class="mt-14 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8 md:gap-10 lg:gap-8 2xl:gap-10"
  >
    <ItemColumn
      details={features}
      class="border-lightIris border-l-2 space-y-2 p-6"
    />
  </div>
</PrimarySection>
