---
import PrimarySection from "../layout/PrimarySection.astro";
---

<PrimarySection class="get-started text-center">
	<p class="font-bold text-2xl my-24">
		Sound good? <a class="underline" href="https://console.deepgram.com/signup">Get started.</a> 🚀
	</p>
</PrimarySection>
