---
// Example: Panel.astro
// Usage: <Panel align="left" text="howdy doody" image="/uploads/go-on.png" />
const { align, text, image } = Astro.props;
---

<section>
	{align === "left" && <img src={image} />}
	<p>{text}</p>
	{align !== "left" && <img src={image} />}
</section>
