---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";

const stats = [
  {
    stat: "120X<br/>faster",
    detail: "Transcribe an hour of pre-recorded audio in 30 seconds.",
  },
  {
    stat: "<300ms<br/>latency",
    detail:
      "The fastest real-time transcription speeds for human-like conversational AI experiences, real-time analytics, and enablement.",
  },
  {
    stat: "20+<br/>languages",
    detail:
      "Over 20 languages and dialects to choose from with more rapidly added regularly.",
  },
  {
    stat: "100+ files<br/>supported",
    detail:
      "Over 100 different audio formats and encodings supported including MP3, MP4, MP2, AAC, WAV, FLAC, PCM, M4A, Ogg, Opus, and WebM.",
  },
];
---

<PrimarySection class="quality-you-can-count-on">
  <h3 class="mb-12">Quality you can count on.</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-8 md:gap-10 lg:gap-8 2xl:gap-10"
  >
    {stats.map((stat) => {
      return (
        <div>
          <h2 set:html={stat.stat} />
          <p class="text-cloud text-sm">{stat.detail}</p>
        </div>
      );
    })}
  </div>
</PrimarySection>
