---
import RightStar from "../../shared/components/decoration/RightStar.astro";
import Icon from "../../shared/components/general/Icon.astro";
import FullWidthSection from "../../shared/components/layout/FullWidthSection.astro";
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";

const details = [
	{
		name: "Todd F",
		role: "CEO",
		image: "",
		quote:
			"Excellent service - best price and highest quality transcription service.  We used IBM Watson, Google, AWS, Azure and other transcription providers.  Deepgram out does all of them by far.  We're able to use Deepgram to provide high-quality call analysis in real time to customers.",
		socialMedia: "twitter",
	},
	{
		name: "Justin W",
		role: "CTO",
		image: "",
		quote:
			"Extremely accurate and fast responses.  Deepgram allows us to transcribe live streams and create captioning in real time.  Deepgram determines context of a sentence as it's being transcribed and makes corrections as it receives more data.",
		socialMedia: "twitter",
	},
	{
		name: "Leif B",
		role: "Senior Software Engineer",
		image: "",
		quote:
			"API: Good Product, Good Documentation, Great Support.  We use Deepgram as our primary transcription engine, converting a Twilio phone call audio stream into a text stream in real time and analyzing the results. The Deepgram API covers the languages we need (and then some), integrates easily with our audio source, is accurate enough, and delivers results quickly. The documentation made it easy to design our code, and the very helpful support engineers were quick to respond to questions and to help us debug our initial efforts.",
		socialMedia: "twitter",
	},
	{
		name: "Gabriela Avila",
		role: "Cheif Artificial Intelligence Officer",
		image: "",
		quote:
			"Overall, we've seen an average transcription accuracy of 90%. We've had some audios where the confidence is from 80 to 85%, but when the client's audios are high quality, the confidence can go up to 95%. It is incredible, because there are some potential clients who have not seen something of the kind in spanish, so this represents the highest impact metric we can talk about. It is not something you see everyday. ",
		socialMedia: "twitter",
	},
];
---

<PrimarySection class="star-spacer">
	<RightStar class="text-meadow text-[10rem]" />
</PrimarySection>
<FullWidthSection class="testimonial-tweets">
	<h3 class="block pt-28 lg:pt-56 text-center">See what developers are saying about Deepgram.</h3>
	<div class="pt-20 grid xl:place-items-start grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-6 lg:gap-10">
		{details.map((detail) => {
			return (
				<div class="tweets-cards bg-steel/50 py-8 px-5">
					<div class="flex justify-between">
						<div class="flex items-center">
							<img class="mr-3" src={detail.image} />
							<div>
								<p class="font-semibold">{detail.name}</p>
								<p class="text-xs">{detail.role}</p>
							</div>
						</div>
						<Icon icon="twitter" class="fill-brand-twitter w-4" />
					</div>
					<p class="text-cloud mt-4 text-sm">{detail.quote}</p>
				</div>
			);
		})}
	</div>
</FullWidthSection>

<style>
	.testimonial-tweets {
		background-image: url("/soundwavelarge.png");
		background-size: contain;
		background-repeat: repeat-x;
	}
</style>
