<section class="max-w-screen-2xl mx-auto px-4 md:px-6 lg:px-10 mb-24 flex flex-col">
  <h2 class="text-center">Why Deepgram?</h2>
  <div class="flex flex-col space-y-10 lg:flex-row lg:space-y-none lg:space-x-10">
    <div class="basis-1/2 flex flex-col justify-center space-y-4">
      <h3>Built different.</h3>
      <p>Our flexible AI architecture is built to learn from real-world audio; to determine what to listen for (voices) and what not to listen for (noise, static). Then it takes the important words into account (product names, terms, account numbers) to deliver accurate transcriptions you can actually use.</p>
      <a>View Product</a>
    </div>
    <div class="basis-1/2">
      <img src="/images/why_deepgram.png"/>
    </div>
  </div>
</section>