---
const details = [{
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"Transcribe Twilio Voice Calls in Real-Time with Rust and Deepgram",
  detail:"",
  tags:["Vue"],
  author:"Nikola Whallon",
  cardType:"blog"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar",
  webinarDateTime:"TUE APR 27 11A PT | 2P ET"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar"
}, {
  image:"audiofile",
  title:"How to Evaluate ASR Solutions or it might be a longer title",
  detail:"In this webinar, we’ll break down the evaluation process with example requirements, evaluation metrics, and a companion guide to help you get started.",
  tags:[],
  author:"",
  cardType:"webinar"
}]
---

<section class="w-full">
  <img class="image1" src="/starburst.svg" />
  <div class="container flex flex-col items-center max-w-screen-2xl mx-auto">
    <div class="grid-container">
    {details.map((detail)=>{return <div class="grid-div"><img class="card-image" src="/hello-world-blog@2x.jpg"/><div class="details p-4"><p class="text-sm mb-4">{`#${detail.tags[0]}`}</p><h4>{detail.title}</h4> <p class="text-sm font-bold mt-20">{detail.author.toUpperCase()}</p></div></div>
       })}
    </div>
  </div>
</section>

<style>
section {
  @apply px-8 md:px-16 lg:px-10 xl:px-36;
  @apply relative -top-52 md:-top-64 lg:-top-72 xl:-top-80 2xl:-top-96;
}

h4 {
  @apply text-2xl;
}

a {
  @apply mt-4;
}
.container {
  @apply relative z-10;

}

.image1 {
  @apply relative;
  @apply w-6/12;
  @apply relative z-0 top-40 -left-56;
}

.grid-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-10 lg:gap-8 2xl:gap-10;
  @apply mt-14;
  @apply -top-32 lg:-top-52 xl:-top-52 2xl:-top-64 relative;
}

.grid-div {
  @apply w-full md:w-5/6 md:w-full;
  backdrop-filter: blur(10px);
  background-color: rgba(79, 98, 120, 0.3);
  @apply h-full;
}





</style>