---
import Icon from "../../Icon.astro"
---

<section class="community w-full">
  <div class="flex flex-col items-center text-center max-w-screen-2xl mx-auto">  
    <h2>What’s new in the community.</h2>
    <div>
      <div class="flex space-x-8">
      <a><Icon icon="twitter" class="fill-current w-10"/></a>
      <a><Icon icon="github" class="fill-current w-10"/></a>
      <a><Icon icon="linkedin" class="fill-current w-10"/></a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
  @apply mb-14;
  @apply px-10 md:px-40 xl:px-80;
}

h2 {
  @apply text-4xl font-bold;
  @apply mb-6;
}
</style>