---

const stats = [{
  stat:"120X faster",
  detail:"Transcribe an hour of pre-recorded audio in 30 seconds."
}, {
  stat:"<300ms latency",
  detail:"The fastest real-time transcription speeds for human-like conversational AI experiences, real-time analytics, and enablement."
}, {
  stat:"20+ languages",
  detail:"Over 20 languages and dialects to choose from with more rapidly added regularly."
}, {
  stat:"100+ files supported",
  detail:"Over 100 different audio formats and encodings supported including MP3, MP4, MP2, AAC, WAV, FLAC, PCM, M4A, Ogg, Opus, and WebM."
}]
---
<section class="stats w-full">
  <div class=" flex flex-col max-w-screen-2xl mx-auto">
    <h2>Quality you can count on.</h2>
    <div class="grid-container">
    {stats.map((stat)=>{return <div class="grid-div"><div class="flex flex-col"><h3>{stat.stat}</h3> <div>{stat.detail}</div></div></div>
       })}
    </div>
  </div>
</section>

<style>
section {
  @apply px-8 md:px-16 lg:px-10 xl:px-36;
  @apply mb-24;
  /* @apply w-5/6 md:w-full; */
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-4xl xl:text-5xl font-bold;
  @apply mb-2;
}

.grid-container {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 md:gap-10 lg:gap-8 2xl:gap-10;
  @apply mt-14;
}

.grid-div {
  @apply w-5/6 md:w-full
  /* @apply py-0 pl-0 pr-10 sm:pr-0 md:p-8 lg:pr-4; */
}

</style>