---
import Brand from "../../Brand.astro"
const { cta, brands } = Astro.props
---

<section class="logos-divider w-full">
  <div class="flex flex-col items-center">
    <p class="cta">{cta}</p>
    <div class="flex logos items-center grid-container">
    {brands.map(brand=>{
      return <div class="grid-div"><img src={`/${brand}.png`} class="logo text-storm" /></div>
    })}
    </div>
  </div>
</section>

<style>

  section {
    @apply mb-24 mt-4;
  }

  .cta {
    @apply font-bold text-xl;
    @apply mb-4;
  }
  .logo {
    /* @apply h-4 lg:h-full; */
    /* height: calc(100vw/15) */
    @apply h-[calc(100vw/4)] md:h-[calc(100vw/5)] lg:h-[calc(100vw/10)]
  }

  .grid-container {
  @apply grid lg:flex grid-cols-3 md:grid-cols-4;
  @apply gap-6;
  @apply mt-14;
}

.grid-div {
  /* @apply py-0 pl-0 pr-10 sm:pr-0 md:p-8 lg:pr-4; */
}

</style>