---
import image from "../../../assets/images/SDK-languages@2x.png"
---

<section class="logos-divider w-full">
  <div class=" flex flex-col items-center max-w-screen-2xl mx-auto">
    <img src={image}>
  </div>
</section>