---
import Brand from "../../Brand.astro"
const { cta, brands } = Astro.props
---

<section class="logos-divider w-full">
  <div class="flex flex-col items-center">
    <p>{cta}</p>
    <div class="flex logos space-x-10 items-center">
    {brands.map(brand=>{
      return <Brand class="logo text-storm" />
    })}
    </div>
  </div>
</section>

<style>
  .logo {
    height: calc(100vw/50)
  }

  .logos {
    width: 110%;
    margin-left: -10%;
  }
</style>