<section class="primary-cta flex flex-col items-center">
  <p>Really fast. Really accurate.</p>
  <p>Give it a try.</p>
  <div>ARROW</div>
</section>

<style>

  .primary-cta {
    background: black no-repeat top left url('./saturn.svg');
  }
  p {
    @apply text-4xl;
    line-height: 44px;
  }
</style>