<section class="secondary-cta w-full">
  <div class="flex flex-col items-center max-w-screen-2xl mx-auto">  
    <h2>Hell yes, we have SDKs.</h2>
    <p>Audio goes in. Accurate text comes out. It’s just that simple. Use one of our SDKs to get started in your favorite programming language. </p>
    <a>Try it Free</a>
  </div>
</section>

<style>
section {
  @apply mb-14;
  @apply px-80;
}

h2 {
  @apply text-4xl font-bold;
  @apply mb-6;
}

a {
  @apply mt-4;
}


</style>