---
const { quote, name, role, image } = Astro.props
---

<section>
  <div class="max-w-screen-2xl mx-auto ">
    <div class="flex flex-col items-center pt-16 lg:pt-0">
      <h2>Why Deepgram?</h2>
      <div class="flex flex-col-reverse	items-center lg:flex-row">
        <div class="flex flex-col w-full lg:w-6/12 pr-24">
          <h3>Built different.</h3>
          <p>Our flexible AI architecture is built to learn from real-world audio; to determine what to listen for (voices) and what not to listen for (noise, static). Then it takes the important words into account (product names, terms, account numbers) to deliver accurate transcriptions you can actually use.</p>
          <a>View Product</a>
        </div>
        <div class="w-10/12 lg:w-6/12 mb-12 lg:mb-0">
          <img src="/images/why_deepgram.png"/>
        </div>
    </div>
  </div>
 </div>
</section>

<style>
section {
  @apply px-8 md:px-16 lg:px-10 xl:px-36;
  @apply mb-24;
}

h2 {
@apply text-4xl font-bold;
@apply mb-24;
/* @apply pt-20 lg:pt-0; */
}

h3 {
  @apply text-2xl xl:text-3xl font-bold;
  @apply mb-6;
}

a {
  @apply mt-6;
}
</style>