---
import Layout from "../../layouts/Default.astro";
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import BreadCrumb from "../../shared/components/nav/BreadCrumb.astro";
---

<Layout>
	<PrimarySection class="max-w-screen-lg mx-auto px-10 my-10 gap-16">
		<BreadCrumb />
		<h1 class="text-4xl text-darkCharcoal font-bold mt-6 mb-3">Support</h1>

		<section class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-32">
			<div id="support-section">
				<form action="/support/success/" name="support" method="POST" data-netlify="true" netlify-honeypot="bot-field">
					<input type="hidden" name="form-name" value="support" />
					<p class="hidden">
						<label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
					</p>
					<p>
						<label
							>Email <span>*</span>
							<input required type="email" name="email" placeholder="Your email" class="form-input" />
						</label>
					</p>
					<p>
						<label
							>Name
							<input type="text" name="name" placeholder="Your name" class="form-input" />
						</label>
					</p>
					<p>
						<label
							>Message title
							<input type="text" name="message-title" placeholder="Title of your message" class="form-input" />
						</label>
					</p>
					<p>
						<label
							>Your message
							<textarea name="message" placeholder="Message" class="form-input"></textarea>
						</label>
					</p>
					<p class="flex">
						<button type="submit">Send</button>
					</p>
				</form>
			</div>
			<div id="email-section">
				<p class="bold">More of the email type of person?</p>
				<p>We'll be waiting for your email!</p>
				<a href="mailto:developers@deepgram.com">developers@deepgram.com</a>
			</div>
		</section>
	</PrimarySection>
	<div id="feedback-signup">
		<section>
			<div class="form-container">
				<h3>WANT TO HELP US GET BETTER?</h3>

				<p>We are always looking for people who can test out new potential features or give us feedback on what's currently in production. If you participate, we promise to:</p>
				<ul>
					<li>Schedule a time that works for you</li>
					<li>Take no more than 20 minutes of your time</li>
					<li>
						Show our appreciation by letting you choose if you want to receive a <strong>gift card</strong> or a bunch of <strong>swag</strong>.
					</li>
				</ul>
				<form action="/support/success/" name="feedback-signup" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="help-us">
					<input type="hidden" name="form-name" value="feedback-signup" />
					<input class="hidden" name="bot-field" />
					<input type="hidden" name="page" :value="$route.path" />
					<input type="hidden" name="created_at" :value="Date.now()" />
					<input required type="email" name="email" placeholder="Your email" class="form-input" />
					<button class="w-40 rounded bg-meadow font-bold h-14 text-darkCharcoal" type="submit">Sign Me Up!</button>
				</form>
			</div>
			<div class="image-container">
				<img src="https://res.cloudinary.com/deepgram/image/upload/c_fit/v1670350320/documentation/support-crew_xqk4v3.png" alt="Team photo" />
				<p>You would make the team very happy!</p>
			</div>
		</section>
	</div>
</Layout>

<style>
	#support-section {
		display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    -moz-column-gap: 9rem;
    column-gap: 9rem;
	}
	#support-section form {
		@apply max-w-lg;
	}
	#support-section form p {
		@apply my-5;
	}
	#support-section form label {
		@apply font-bold;
	}
	#support-section form label span {
		@apply text-fireEngine;
	}
	#support-section form label .form-input {
		@apply mt-2 w-full rounded-sm border border-casper px-2 py-1 font-normal;
		
	}
	#support-section form button {
		@apply ml-auto w-40 rounded bg-meadow font-bold h-14;
	}
	#email-section {
    @apply flex flex-col justify-center mt-12 md:mt-0 text-lg;
	}
	#email-section .bold {
		@apply font-bold;
	}
	#email-section p {
		@apply m-0;
	}
	#email-section a {
		@apply mt-6 underline inline font-bold;
	}
  #feedback-signup {
  @apply bg-darkCharcoal text-cloud;
}
#feedback-signup h3 {
  @apply text-white font-semibold text-2xl text-3xl;
  @apply max-w-sm sm:max-w-7xl;
}
#feedback-signup section {
  @apply flex m-auto max-w-7xl p-10 flex-wrap;
}
#feedback-signup ul {
  @apply list-disc ml-6;
}
#feedback-signup section .form-container {
  @apply flex-1 flex flex-col justify-center md:mr-24;
}
#feedback-signup section .image-container {
  @apply flex flex-col flex-1 sm:items-center items-start justify-center;
  min-width: 400px;
  @apply pt-4;
}
#feedback-signup section .image-container img {
  max-height: 50%;
}
#feedback-signup section .image-container p {
  @apply my-4;
}
#feedback-signup section .form-container form {
  @apply mt-8 flex;
}
#feedback-signup section .form-container form input {
  @apply mr-2 bg-darkCharcoal text-cloud border border-casper rounded-sm py-1 px-2 w-72;
}
#feedback-signup section .form-container p {
  @apply my-4;
  @apply max-w-xs sm:max-w-7xl;
}
#feedback-signup section .form-container ul {
  @apply my-4;
  @apply max-w-xs md:max-w-7xl;
}

.help-us {
  @apply w-4/6 sm:w-full;
}
</style>