<div class="w-full">
  <div class="relative mx-auto">
    <slot name="title"></slot>
    <div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-6 md:gap-8 lg:gap-10">
      <slot></slot>
    </div>
  </div>
</div>
