---
import Link from "../general/Link.astro";

const { tags, link } = Astro.props;
---

<ul class="pt-3 flex text-sm font-medium space-x-2">
	{tags &&
		tags.map((tag) => (
			<li class="bg-steel px-1 text-white">
				{link && (
					<Link href={`/tags/${tag}`} class="text-white">
						#{tag}
					</Link>
				)}
				{!link && <>#{tag}</>}
			</li>
		))}
</ul>
