---
import LeftDecoration from "../../shared/components/decoration/LeftDecoration.astro";
import RightDecoration from "../../shared/components/decoration/RightDecoration.astro";
import Svg from "../../shared/components/general/Svg.astro";

const { title, svg } = Astro.props;
// console.log({ svg, title });
---

<div class="grid grid-cols-1 xl:grid-cols-3">
	<h1 class="mb-20 text-white">{title}</h1>
	<p class="text-white">Tag Hero</p>
	<div class="xl:order-last">
		<RightDecoration icon="star-left" class="text-white w-6 lg:w-8 xl:-mt-10" />
		<LeftDecoration icon="star-right" class="text-white w-5 lg:w-6 mt-4 xl:mt-20" />
	</div>
	<div><Svg class="opacity-0 -mb-10" name="tag" /></div>
</div>
