---
import PrimarySection from "../layout/PrimarySection.astro";
import Svg from "../general/Svg.astro";
import LeftDecoration from "../decoration/LeftDecoration.astro";
import RightDecoration from "../decoration/RightDecoration.astro";

const { class: classes } = Astro.props;
---

<PrimarySection class={`amplify-quote flex ${classes ? classes : ""}`}>
	<div class="flex items-center">
		<Svg name="amplify" class="h-[12rem] sm:h-[18rem] md:h-[24rem] lg:h-[36rem] xl:h-[48rem] w-auto" />
	</div>
	<div class="flex flex-col justify-center pl-9">
		<LeftDecoration icon="star-left" class="w-4 sm:w-5 md:w-6 lg:w-7 xl:w-8 mb-6 sm:mb-10 md:mb-20 lg:mb-30 xl:mb-40" />
		<slot />
		<RightDecoration icon="star-right" class="w-4 sm:w-5 md:w-6 lg:w-7 xl:w-8 mt-6 sm:mt-10 md:mt-20 lg:mt-30 xl:mt-40 text-fireEngine" />
	</div>
</PrimarySection>

<style>
	.amplify-quote :global(h2) {
		@apply text-storm text-base sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl;
	}

	.amplify-quote :global(h1) {
		@apply text-lg sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
	}
</style>
