---
import Svg from "../general/Svg.astro";

const { background, contrast, topHidden, bottomHidden, topOverlay, bottomOverlay } = Astro.props;

const topBg = `bg-${background}`;
const bottomBg = `bg-${contrast}`;
const topContrast = `fill-${contrast}`;
const bottomContrast = `fill-${background}`;
---

<div class:list={[bottomBg]}>
	<div class:list={[{ hidden: topHidden }, { "-mb-4 sm:-mb-8 md:-mb-12 lg:-mb-16 xl:-mb-20": topOverlay }]}>
		<Svg name="eclipse-divider" class:list={["block w-full", "h-4 sm:h-8 md:h-12 lg:h-16 xl:h-20", topBg, topContrast]} />
	</div>
	<div class="contrast-content">
		<slot />
	</div>
	<div class:list={[{ hidden: bottomHidden }, { "-mb-4 sm:-mb-8 md:-mb-12 lg:-mb-16 xl:-mb-20": bottomOverlay }]}>
		<Svg name="eclipse-divider" class:list={["block w-full", "h-4 sm:h-8 md:h-12 lg:h-16 xl:h-20", bottomBg, bottomContrast]} />
	</div>
</div>
