---
// TODO: rename to RightDecoration, accept SVG name as property (to switch type of decoration used)
import Svg from "../general/Svg.astro";

console.log("deprecated. use ./RightDecoration.astro instead");
---

<div class="flex flex-row-reverse py-20 px-10 lg:px-24">
	<Svg name="star-right" class={`h-[1em] w-[1em] ${Astro.props.class}`} />
</div>
