---
import Layout from "../../../layouts/OnPrem.astro";
import DocsCardList from "../../../shared/components/lists/DocsCardList.astro";
import DocsCard from "../../../shared/components/cards/DocsCard.astro";

const optionalComponents = await Astro.glob("./**/index.mdx");

const orderedComponents = optionalComponents.sort((a,b)=>{
	return a.frontmatter.order - b.frontmatter.order
})
---

<Layout>
	<article>
		<h1>Optional Components</h1>
		<DocsCardList>
			{orderedComponents.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</DocsCardList>
	</article>
</Layout>

<style is:global>
	.post-prose h1 {
		@apply mb-10;
	}
	h2 {
		@apply mb-5 mt-10;
		color: #111827;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.3333333;
		font-family: Favorit;
	}

	p {
		font-weight: 400;
	}
</style>
