---
import InlineIcon from "./InlineIcon.astro";

const { icon, iconSuffix, iconStroke, type, ...rest } = Astro.props;
---

<button type={type ? type : "button"} {...rest}>
	<InlineIcon {icon} {iconSuffix} {iconStroke}><slot /></InlineIcon>
</button>
