---
import Layout from "../../../layouts/Default.astro"
import PrimarySection from "../../../shared/components/layout/PrimarySection.astro";
import Tools from "../../../components/sdks-tools/Tools.astro"
import BreadCrumb from "../../../shared/components/nav/BreadCrumb.astro";
---
<Layout>
  <PrimarySection class="max-w-screen-xl mb-[5rem] mx-auto px-6 lg:px-10 pt-[3rem]">
    <BreadCrumb/>
    <h1>Tools & Integrations</h1>
    <Tools/>
  </PrimarySection>
</Layout>