---
const modules = import.meta.glob("../../../../src/content/blog/category/*.json");

async function getCategories() {
	let paths = [];
	for (const path in modules) {
		const result = await modules[path]();
		paths.push({ slug: "/categories/" + path.split("/").pop().replace(".json", " ").trim(), title: result.title });
	}
	return paths;
}

const categories = await getCategories();
---

<div>
	<h3>Categories</h3>
	<div class="categories-list">
		{categories &&
			categories.map((cat) => {
				return (
					<p>
						<a href={cat.slug}>{cat.title}</a>
					</p>
				);
			})}
		<button class="button button--quinary button--small">View All</button>
	</div>
</div>

<style>
	.categories-list {
		@apply my-10;
	}

	a {
		@apply text-darkCharcoal hover:text-fireEngine font-semibold leading-5;
	}

	p {
		@apply pb-4;
	}

	button {
		@apply mt-6;
	}
</style>
