---
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";

const modules = import.meta.glob("../../../content/blog/category/*.json");

async function getCategories() {
	let paths = [];
	for (const path in modules) {
		const result = await modules[path]();
		paths.push({ slug: "/categories/" + path.split("/").pop().replace(".json", " ").trim(), title: result.title, plural: result.plural || null });
	}
	return paths;
}

const categories = await getCategories();
const pathname = Astro.url.pathname;
const index = pathname.lastIndexOf("/");
let fileName = pathname.substring(index).substring(1);
fileName = fileName.replace("and", "&");
---

<div class="sticky top-20">
	<div class="hidden lg:block mb-20">
		<h3 class="pb-8">Categories</h3>
		<ul>
			{categories &&
				categories.map((cat) => {
					return (
						<li class="pb-4">
							<Link
								class={` hover:text-iris font-semibold leading-5 ${fileName === cat.title.toLowerCase().split(" ").join("-") ? "text-storm" : "text-darkCharcoal"}`}
								href={cat.slug}
							>
								{cat.plural || cat.title}
							</Link>
						</li>
					);
				})}
		</ul>
		<div class="mt-6">
			<Link href="/posts" class="button button--secondary button--small" iconSuffix icon="arrow-right">View All</Link>
		</div>
	</div>
	<!-- mobile -->
	<div x-data="{ open: false }" class="block bg-rock lg:hidden mb-10">
		<Link @click="open = !open" class="button button--senary button--small button--block flex justify-between items-center text-white">
			<h3 class="pb-0">Categories</h3>
			<Icon icon="angle-down" class="fill-gray-300 w-[1em] h-[1em]" x-bind:class="{ 'rotate-180' : open }" />
		</Link>

		<ul class="hidden absolute w-full z-10 bg-rock overflow-y-auto max-h-[36rem]" x-bind:class="{hidden: !open, block: open}">
			<hr class="sticky top-0 left-[3%] md:left-[2%] w-[97%] mb-4 bg-steel opacity-30" />
			{categories &&
				categories.map((cat) => {
					return (
						<li class="pb-4">
							<Link class="font-inter pl-4 font-normal text-white" href={cat.slug}>
								{cat.title}
							</Link>
						</li>
					);
				})}
		</ul>
	</div>
</div>
