---
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";

const modules = import.meta.glob("../../../../src/content/blog/category/*.json");

async function getCategories() {
	let paths = [];
	for (const path in modules) {
		const result = await modules[path]();
		paths.push({ slug: "/categories/" + path.split("/").pop().replace(".json", " ").trim(), title: result.title });
	}
	return paths;
}

const categories = await getCategories();
---

<div>
	<div class="hidden lg:block mb-10">
		<h3>Categories</h3>
		<ul>
			{categories &&
				categories.map((cat) => {
					return (
						<li>
							<Link href={cat.slug}>{cat.title}</Link>
						</li>
					);
				})}
		</ul>
		<Link href="/posts" class="button button--quinary button--small" iconSuffix icon="arrow-right">View All</Link>
	</div>
	<!-- mobile -->
	<div x-data="{ open: false }" class="block bg-rock lg:hidden mb-10">
		<Link @click="open = !open" class="button button--senary button--small button--block flex justify-between items-center text-white">
			<h3 class="pb-0">Categories</h3>
			<Icon icon="angle-down" class="fill-gray-300 w-[1em] h-[1em]" x-bind:class="{ 'rotate-180' : open }" />
		</Link>

		<ul class="hidden absolute w-full z-10 bg-rock overflow-y-auto max-h-[36rem]" x-bind:class="{hidden: !open, block: open}">
			<hr class="sticky top-0 left-[3%] md:left-[2%] w-[97%] mb-4 bg-steel opacity-30" />
			{categories &&
				categories.map((cat) => {
					return (
						<li>
							<Link class="font-inter pl-4 font-normal text-white" href={cat.slug}>
								{cat.title}
							</Link>
						</li>
					);
				})}
		</ul>
	</div>
</div>

<style>
	h3 {
		@apply pb-8;
	}

	li a {
		@apply text-darkCharcoal hover:text-fireEngine font-semibold leading-5;
	}

	li {
		@apply pb-4;
	}

	button {
		@apply mt-6;
	}
</style>
