---
import InlineIcon from "../general/InlineIcon.astro";
import Link from "../general/Link.astro";

const { href, description, icon } = Astro.props;
---

<Link href={href} class="-m-3 p-3 max-w-xs flow-root">
	<div class="flex items-center mb-10">
		<h4 class="text-white">{description}</h4>
	</div>
	<p class="flex text-irisLight items-center space-x-3">
		<InlineIcon icon="arrow-right" iconSuffix>
			<span class="text-cloud">
				<InlineIcon icon={icon}>
					<slot />
				</InlineIcon>
			</span>
		</InlineIcon>
	</p>
</Link>
