---
import Icon from "../general/Icon.astro";
import Button from "../general/Button.astro";

const { name, gridClass, primary } = Astro.props;
---

<div class="relative" x-data={`{ name: '${name}' }`}>
	<Button
		icon="angle-down"
		x-on:click={`menu === name ? menu = null : menu = name`}
		x-bind:class="{'button--active': menu === name }"
		iconSuffix
		class="button button--small button--main-nav button--nav-underline small-icon"
		>{name}
	</Button>

	<div class="absolute flex -ml-20 mt-[1.2rem]" style="display: none;" x-show="menu === name">
		{
			primary && (
				<div class="bg-ink min-w-[21.125rem] p-5 sm:p-8">
					<slot name="primary" />
				</div>
			)
		}
		<div class={`bg-darkCharcoal grid pl-12 py-12 gap-12 ${gridClass ? gridClass : "lg:grid-cols-2 min-w-[32.6875rem]"}`}>
			<slot />
		</div>
	</div>
</div>
