---
import InlineIcon from "../general/InlineIcon.astro";
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";

const { href, description, icon } = Astro.props;
---

<h4 class="text-white max-w-[21.125rem] mb-[2.3125rem]">{description}</h4>
<div class="flex">
	<Link href={href} icon={icon} class=" underline underline-offset-4 flex text-white font-medium items-center gap-2 big-icon">
		<slot />
	</Link>
	<slot name="emoji" />
</div>
