---
const { navStructure, navTitle } = Astro.props;
import SideNavList from "./SideNavList.astro";
---

<input type="checkbox" id="toggle-nav" class="hidden" />
<label for="toggle-nav" class="toggle-nav-label fixed z-[11] top-20"> </label>
<nav class="side-nav bg-cloud/30 p-4">
	<h5 class="border-b border-b-cloud pb-2 text-base">{navTitle}</h5>
	<SideNavList navStructure={navStructure} />
</nav>

<style>
	.side-nav {
		@apply bg-mist md:bg-cloud/30 absolute z-10 col-span-2 w-full p-8 md:relative md:col-span-1 md:block;
		top: 0;
		left: 0;
		height: fit-content;
		min-height: 100%;
	}
</style>
