---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Layout from "../../layouts/Default.astro";
import Title from "../../shared/components/meta/Title.astro";
import Icon from "../../shared/components/general/Icon.astro";
import Description from "../../shared/components/meta/Description.astro";
import Meta from "../../shared/components/meta/Meta.astro";
import ContrastSection from "../../shared/components/decoration/ContrastSection.astro";
import Hero from "../../components/tags/Hero.astro";
import LinkCardListTitle from "../../shared/components/titles/LinkCardListTitle.astro";
import Link from "../../shared/components/general/Link.astro";
import Backlink from "../../components/nav/Backlink.astro";
import JsonLD from "../../shared/components/meta/JsonLD.astro";
import { useStoryblokApi } from "@storyblok/astro";
const sbApi = useStoryblokApi();

const allBlogTags = await sbApi.getAll("cdn/tags");
const schema = {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	itemListElement: [
		{
			"@type": "ListItem",
			position: 1,
			name: "Deepgram Home",
			item: "https://deepgram.com",
		},
		{
			"@type": "ListItem",
			position: 2,
			name: "Blog",
			item: Astro.url.origin,
		},
		{
			"@type": "ListItem",
			position: 3,
			name: "Tags",
		},
	],
};
---

<Layout>
	<JsonLD slot="json:ld" {schema} />
	<Title slot="head:title" title="All tags - Deepgram Blog ⚡️" />
	<Description slot="head:description" name="description" content="All the tags on the Deepgram blog." />
	<Meta slot="og:title" property="og:title" content="All tags - Deepgram Blog ⚡️" />
	<Meta slot="og:description" property="og:description" content="All the tags on the Deepgram blog." />

	<ContrastSection contrast="black" class="bg-tag-gradient bg-responsive-svg" background="darkCharcoal" bottomDivider="eclipse-divider">
		<PrimarySection class="pt-[6.75rem] md:pt-[7.03125rem] lg:pt-[7.3125rem] xl:pt-[7.875rem]">
			<Backlink href="/posts" class="mb-6 md:mb-8 lg:mb-10 xl:mb-12 text-lightIris">All posts</Backlink>

			<Hero title="Tags" svg="tag" />
		</PrimarySection>
	</ContrastSection>

	<PrimarySection>
		<LinkCardListTitle class="mt-8" href="/posts" title="Posts" linkClass="draw-underline nudge-icon nudge-icon--right ml-auto" />
		<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-8 lg:grid-cols-4 grid-flow-row-dense">
			{allBlogTags.map((tag) => (
				<li class="">
					<a class="text-cloud inline-flex items-center text-lg" href={`/tags/${tag.name}`}>
						<Icon class="h-4 w-4 fill-lightIris" icon="tag" />
						<span class="ml-2">#{tag.name}</span>
					</a>
				</li>
			))}
		</ul>
	</PrimarySection>
</Layout>
