---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Layout from "../../layouts/Default.astro";
import Title from "../../shared/components/meta/Title.astro";
import Icon from "../../shared/components/general/Icon.astro";
import Description from "../../shared/components/meta/Description.astro";
import Meta from "../../shared/components/meta/Meta.astro";
import ContrastSection from "../../shared/components/decoration/ContrastSection.astro";
import Hero from "../../components/tags/Hero.astro";
import Link from "../../shared/components/general/Link.astro";
import Backlink from "../../components/nav/Backlink.astro";

let tags = [];
const allPosts = await Astro.glob("../../content/blog/posts/**/index.md");

allPosts.forEach((post, i) => {
	tags = [...tags, ...post.frontmatter.tags];
});
const uniqueTags = Array.from(new Set(tags));
---

<Layout>
	<Title slot="head:title" title="All tags - Deepgram Blog ⚡️" />
	<Description slot="head:description" name="description" content="All the tags on the Deepgram blog." />
	<Meta slot="og:title" property="og:title" content="All tags - Deepgram Blog ⚡️" />
	<Meta slot="og:description" property="og:description" content="All the tags on the Deepgram blog." />

	<ContrastSection contrast="darkCharcoal" class="bg-tag-gradient bg-svg" background="white" bottomDivider="eclipse-divider">
		<PrimarySection class="pt-[6.75rem] md:pt-[7.03125rem] lg:pt-[7.3125rem] xl:pt-[7.875rem]">
			<Backlink href="/posts" class="mb-6 md:mb-8 lg:mb-10 xl:mb-12">All posts</Backlink>

			<Hero title="Tags" svg="tag" />
		</PrimarySection>
	</ContrastSection>

	<PrimarySection class="my-16 mx-16 ml-20">
		<div class="flex justify-end mb-5 ">
			<Link href="/posts" class={`text-lg font-semibold stroke-[3]`} icon="arrow-right" iconSuffix><span>View All Posts</span></Link>
		</div>
		<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-8 lg:grid-cols-4 auto-cols-max grid-flow-row-dense">
			{uniqueTags.map((tag) => (
				<li class="">
					<a class="text-darkCharcoal inline-flex items-center text-lg" href={`/tags/${tag}`}>
						<Icon class="h-4 w-4" icon="tag" />
						<span class="ml-2">#{tag}</span>
					</a>
				</li>
			))}
		</ul>
	</PrimarySection>
</Layout>
