---
import DocsCardList from "../../shared/components/lists/DocsCardList.astro";
import DocsCard from "../../shared/components/cards/DocsCard.astro";

const { title, class: classes, } = Astro.props;

const preRecorded = await Astro.glob("../../pages/documentation/getting-started/prerecorded/index.mdx");
const streaming = await Astro.glob("../../pages/documentation/getting-started/streaming/index.mdx");
---

<div class="max-w-screen-xl mx-auto">
  
  <h2 class="text-stone mt-6 mb-10">ENGLISH</h2>
  <DocsCardList>
    <DocsCard class={`w-full flex flex-col ${classes ? classes : ""}`} doc={preRecorded[0]}/>
    <DocsCard class={`w-full flex flex-col ${classes ? classes : ""}`} doc={streaming[0]}/>
  </DocsCardList>
</div>