---
import Layout from "../../layouts/Documentation.astro";
import English from "../../components/documentation/English.astro";
import Spanish from "../../components/documentation/Spanish.astro";
---

<Layout>
	<h1 slot="page-header">Start Building</h1>
	<English />
	<Spanish />
</Layout>

<style is:global>
	h1 {
		color: #111827;
		font-weight: 700;
		font-size: 2.25em;
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
		line-height: 1.1111111;
		font-family: Favorit;
	}
	h2 {
		@apply mb-5 mt-10;
		color: #111827;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.3333333;
		font-family: Favorit;
	}
</style>
