---
import Layout from "../../layouts/Documentation.astro";
import English from "../../components/documentation/English.astro";
import Spanish from "../../components/documentation/Spanish.astro";
---

<Layout>
	<h1 slot="page-header">Start Building</h1>
	<English />
	<Spanish />
</Layout>
