@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "favorit";
  src: url("../fonts/ABCFavorit-Bold.woff2");
}

body {
  @apply font-inter;
}

.bg-fingerprint {
  background-image: url('/fingerprint.svg');
  background-repeat: no-repeat;
  background-position: right 16rem top;
}

.bg-starburst {
  background-image: url('/starburst.svg');
  background-repeat: no-repeat;
  background-position: 21rem top;
  background-size: 42.75rem;
}

.bg-saturn {
  background-image: url('/saturn.svg');
  background-repeat: no-repeat;
  background-position: 22rem top;
  background-size: 30rem;
}

/* @media screen and (min-width: 1600px) {
  html {
    font-size: 25px;
  }
} */

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-favorit;
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  a {
    @apply text-lightIris;
  }
}

@layer components {
  .h1-large {
    @apply text-6xl;
  }

  .h1-small {
    @apply text-5xl;
  }

  .button {
    @apply flex justify-center items-center font-bold text-base leading-4 py-2 px-6 whitespace-nowrap;
    height: 3.25rem;
    width: fit-content;
  }

  .button--small {
    @apply py-2 px-4;
    height: 2.375rem;
  }

  .button--big {
    height: 4.125rem;
  }

  .button--block {
    @apply w-full;
  }

  .button--primary {
    @apply bg-meadow text-darkCharcoal;
  }

  .button--secondary {
    @apply bg-rock text-meadow;
  }

  .hyperlink {
    @apply text-lightIris;
    @apply text-lg;
    @apply font-black;
  }
}

@layer utilities {
  .bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}