---
const { strapline, title, backgroundImage, theme } = Astro.props;

let themeStyles;
if (theme) {
	switch (theme) {
		case "black":
			themeStyles = "theme--black";
			break;
		case "white":
			themeStyles = "theme--white";
			break;
		case "red":
			themeStyles = "theme--red";
			break;
	}
}

const rawHTMLString = "&nbsp;";
---

<div class:list={["promo", themeStyles]} style={`background-image: url('${backgroundImage}');`}>
	<header>
		{strapline ? <h6 class="uppercase">{strapline}</h6> : <h6 class="uppercase" set:html={rawHTMLString} />}
		<h2>{title}</h2>
	</header>
	<div>
		<slot />
	</div>
</div>

<style scoped>
	.promo {
		@apply max-w-[76.25rem];
		@apply min-h-[13rem] w-full;
		@apply flex flex-col space-y-1;
		@apply py-4 px-8 pb-52 md:pb-4;
		@apply justify-between;
		@apply drop-shadow-md;
		@apply bg-right-bottom bg-no-repeat lg:bg-right;
		@apply bg-contain;
	}

	/* White Theme Styles */
	.theme--white {
		@apply bg-white;
	}

	.theme--white h6 {
		@apply text-fireEngine;
	}

	.theme--white h2,
	.theme--white :global(h4.date),
	.theme--white :global(p) {
		@apply text-black;
	}

	/* Black Theme Styles */
	.theme--black {
		@apply bg-ink;
	}

	.theme--black h6 {
		@apply text-coral;
	}

	.theme--black h2,
	.theme--black :global(h4.date),
	.theme--black :global(p) {
		@apply text-white;
	}

	/* Red Theme Styles */
	.theme--red {
		@apply bg-fireEngine;
	}

	.theme--red h6,
	.theme--red h2,
	.theme--red :global(h4.date),
	.theme--red :global(p) {
		@apply text-black;
	}
</style>
