---
const { buttonText } = Astro.props;
---

<div class="flex w-full"><a class="button button--primary button--block button--small lg:button--base">{buttonText}</a></div>

<style scoped>
	.button {
		@apply mt-4 mb-40 md:mb-6 lg:mb-0 lg:mt-0;
	}
</style>
