---
const { buttonText, theme } = Astro.props;
---

<button type="submit" class:list={[{ "button--primary": theme !== "red" }, { "button--tertiary": theme === "red" }, "button button--block button--small lg:button--base"]}
	>{buttonText}
</button>
