---
const { linkText } = Astro.props;
---

<div class="flex"><a class="button button--primary">{linkText}</a></div>

<style scoped>
	.button {
		@apply w-full md:w-3/6 lg:w-44;
		@apply mt-4 mb-40 md:mb-6 lg:mb-0 lg:mt-0;
	}
</style>
