---
const { url, hook } = Astro.props;
---

<form action="/.netlify/functions/forms/" method="POST">
	{url && <input type="hidden" name="redirect" value={url} />}
	{hook && <input type="hidden" name="hook" value={url} />}

	<slot />
</form>
