---
import Layout from "../../layouts/Default.astro";
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Title from "../../shared/components/meta/Title.astro";
import BreadCrumb from "../../shared/components/nav/BreadCrumb.astro";
import BlogCardList from "../../shared/components/lists/BlogCardList.astro";
import DocsCard from "../../shared/components/cards/DocsCard.astro";
const transcription = await Astro.glob("./transcription/**/*.mdx");
const speechAnalytics = await Astro.glob("./speech-analytics/**/*.mdx");
const { class: classes } = Astro.props;
---

<Layout>
	<Title slot="head:title" title="Use Cases - Deepgram Docs" />
	<PrimarySection class="max-w-screen-xl mb-[5rem] mx-auto px-6 lg:px-10 pt-[3rem]">
		<BreadCrumb />
		<h1>Use Cases</h1>
		<h2 class="text-stone mt-10 mb-3">TRANSCRIPTION</h2>
		<BlogCardList>
			{
				transcription.map((doc) => {
					return <DocsCard class={`w-full flex flex-col ${classes ? classes : ""}`} doc={doc} />;
				})
			}
		</BlogCardList>
		<h2 class="text-stone mt-10 mb-3">SPEECH ANALYTICS</h2>
		<BlogCardList>
			{
				speechAnalytics.map((doc) => {
					return <DocsCard class={`w-full flex flex-col ${classes ? classes : ""}`} doc={doc} />;
				})
			}
		</BlogCardList>
	</PrimarySection>
</Layout>

<style>
	:global(h1) {
		@apply text-4xl;
		@apply mt-6;
	}

	:global(h2) {
		@apply text-2xl;
	}
</style>
