<div class="bottom-curve">
  <div id="hero-pricing">
    <div class="header-container">

      <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0924 0.956299V1.40641C21.0924 11.8754 29.5805 20.3635 40.0495 20.3635H40.5V21.5483H40.0495C29.5805 21.5483 21.0924 30.0363 21.0924 40.5053V40.9563H19.9076V40.5053C19.9076 30.0363 11.4196 21.5483 0.950577 21.5483H0.5V20.3635H0.950577C11.4196 20.3635 19.9076 11.8754 19.9076 1.40641V0.956299H21.0924Z" fill="#AAB8CD"/>
      </svg>
      <h1>Transparent pricing designed to help you grow.</h1>

      <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.0358 18.3206V1.91431H26.515V18.3206C26.515 22.9226 22.7837 26.6539 18.1816 26.6539H1.77539V27.1747H18.1816C22.7837 27.1747 26.515 30.906 26.515 35.5081V51.9143H27.0358V35.5081C27.0358 30.906 30.7671 27.1747 35.3691 27.1747H51.7754V26.6539H35.3691C30.7671 26.6539 27.0358 22.9226 27.0358 18.3206Z" fill="#FE5C5C" stroke="#FE5C5C" stroke-width="2"/>
      </svg>


    </div>
    <TwoColumns layout="split">
      <div slot="left">
        <h3>Try it Free</h3>
        <p>Get started with <strong>$150 Free Credits.</strong> Automatically transcribe pre-recorded or live streaming audio. No credit card required.</p>
        <a href="/sign-up">Get Started</a>
      </div>
      <div slot="right">
        <h3>Ready to scale up?</h3>
        <p>Contact our Sales Team about a Premium plan. Learn about tailored accuracy gains, volume pricing, private cloud as well as on-prem deployments, and dedicated support for your team.</p>
        <a href="/">Talk to Sales</a>
      </div>
    </TwoColumns>
  </div>
</div>

<style>
  .bottom-curve {
    background-color: #141e29;

  }
  .header-container {
      @apply text-white flex justify-center items-center;
  }
</style>