---
import Layout from "../../../layouts/OnPrem.astro";
import BlogCardList from "../../../shared/components/lists/BlogCardList.astro";
import DocsCard from "../../../shared/components/cards/DocsCard.astro";

const baseComponents = await Astro.glob("./**/index.mdx");
---

<Layout>
	<article>
		<h1>Base Components</h1>
		<BlogCardList>
			{baseComponents.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</BlogCardList>
	</article>
</Layout>

<style is:global>
	h1 {
		color: #111827;
		font-weight: 700;
		font-size: 2.25em;
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
		line-height: 1.1111111;
		font-family: Favorit;
	}
	h2 {
		@apply mb-5 mt-10;
		color: #111827;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.3333333;
		font-family: Favorit;
	}
</style>
