---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Layout from "../../layouts/Default.astro";
import HasAside from "../../shared/components/layout/HasAside.astro";
import CategoryList from "../../shared/components/nav/CategoryList.astro";
import CategorySection from "../../components/homepage/CategorySection.astro";
import Title from "../../shared/components/meta/Title.astro";
import Description from "../../shared/components/meta/Description.astro";
import Meta from "../../shared/components/meta/Meta.astro";

const categoryFiles = import.meta.glob("../../content/blog/category/*.json");

async function getCategories() {
	let paths = [];
	for (const path in categoryFiles) {
		const category = await categoryFiles[path]();
		paths.push({ title: category.title, slug: path.split("/").pop().replace(".json", " ").trim() });
	}
	return paths;
}

const allCategories = await getCategories();
const categories = allCategories.splice(0, 2);
---

<Layout>
	<Title slot="head:title" title="All categories - Deepgram Blog ⚡️" />
	<Description slot="head:description" name="description" content="All the categories on the Deepgram blog." />
	<Meta slot="og:title" property="og:title" content="All categories - Deepgram Blog ⚡️" />
	<Meta slot="og:description" property="og:description" content="All the categories on the Deepgram blog." />

	<PrimarySection>
		<a href="/" class="inline-block py-4 md:py-6 lg:py-8 xl:py-10">&lt;- Back to blog home</a>
		<h1 class="mb-8">Deepgram Blog ⚡️</h1>
		<HasAside>
			<CategoryList slot="aside" />
			{categories && categories.map((category, index) => <CategorySection index={index} category={category} />)}
			<center class="-mt-10 mb-20">
				<a href="/posts" class="button button--quinary button--small">View All</a>
			</center>
		</HasAside>
	</PrimarySection>
</Layout>
