---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Layout from "../../layouts/Default.astro";
import HasAside from "../../shared/components/layout/HasAside.astro";
import CategoryList from "../../shared/components/nav/CategoryList.astro";
import CategorySection from "../../components/homepage/CategorySectionSB.astro";
import Title from "../../shared/components/meta/Title.astro";
import Description from "../../shared/components/meta/Description.astro";
import Meta from "../../shared/components/meta/Meta.astro";
import Backlink from "../../components/nav/Backlink.astro";
import Link from "../../shared/components/general/Link.astro";
import JsonLD from "../../shared/components/meta/JsonLD.astro";
import { useStoryblokApi } from "@storyblok/astro";
const sbApi = useStoryblokApi();

const categories = await sbApi.getAll("cdn/stories", {
	by_slugs: "categories/*",
});

// build json schema object
const schema = {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	itemListElement: [
		{
			"@type": "ListItem",
			position: 1,
			name: "Deepgram Home",
			item: "https://deepgram.com",
		},
		{
			"@type": "ListItem",
			position: 2,
			name: "Blog",
			item: Astro.url.origin,
		},
		{
			"@type": "ListItem",
			position: 3,
			name: "Categories",
		},
	],
};
---

<Layout>
	<JsonLD slot="json:ld" {schema} />

	<Title slot="head:title" title="All categories - Deepgram Blog ⚡️" />
	<Description slot="head:description" name="description" content="All the categories on the Deepgram blog." />
	<Meta slot="og:title" property="og:title" content="All categories - Deepgram Blog ⚡️" />
	<Meta slot="og:description" property="og:description" content="All the categories on the Deepgram blog." />

	<PrimarySection class="pt-[6.75rem] md:pt-[7.03125rem] lg:pt-[7.3125rem] xl:pt-[7.875rem]">
		<Backlink href="/" class="mb-6 md:mb-8 lg:mb-10 xl:mb-12 text-iris">Back to blog home</Backlink>

		<h1 class="mb-8">Deepgram Blog ⚡️</h1>
		<HasAside>
			<CategoryList slot="aside" />
			{categories && categories.map((category) => <CategorySection category={category} />)}
			<center class="-mt-10 mb-20">
				<Link href="/posts" icon="arrow-right" iconSuffix class="button button--secondary button--small">View All</Link>
			</center>
		</HasAside>
	</PrimarySection>
</Layout>
