---
import PageLayout from "../layouts/PageLayout.astro";
import HeroCenteredSlots from "../components/content/hero/HeroCenteredSlots.astro";
import Promo from "../components/content/Promo.astro"
import customerJson from "./data/built-with-dg/customers.json"
---
<PageLayout>
  <main>
    <HeroCenteredSlots promo="Check out our Startup Program" title="Built with Deepgram.">
      <Promo slot="promo">
        &#128640; Check out our <a class="promo-link" href="/startups">Startup Program</a>
      </Promo>
      <h1 class="hero-header" slot="title">Built With <p class="dg-underline">Deepgram</p></h1>
      <p slot="subtext">From individuals to enterprises, see what developers all over the world are building with Deepgram.</p>
      <div slot="cta" class="cta flex justify-center space-x-7">
        <a href="/" class="button button--primary">What will you build?</a>
      </div>
    </HeroCenteredSlots>
    <!-- Filtered Use cases -->
    <!-- This will be similar to blog post section. will duplicate it here. -->

    <section class="customers contrast contrast--white ">
      <h2>Leading the voice ecosystem</h2>
      <p>Join the growing list of customers who are innovating with Deepgram and creating new voice technology products and services without compromising speed accuracy, costs or scale.</p>
      <div class="logos">
        {customerJson.map(customer => {
          return <div class="logo">
            <img src={customer.logo} alt={customer.name} />
          </div>
        })}
      </div>
    </section>
  </main>
</PageLayout>

<style scoped>
  main {
    @apply bg-black;
    @apply text-white;
    background: black no-repeat top -20rem right -20rem url('./starburst.svg');
    
  }
  .promo-link {
    @apply text-black underline;
  }
  h1.hero-header {
    @apply text-4xl sm:text-5xl md:text-6xl;
    @apply font-bold;
    @apply w-8/12 xl:w-7/12;
    @apply leading-9 sm:leading-15 md:leading-16 lg:leading-17;
    @apply text-center;
    @apply mt-10 mb-7;
  }

  .dg-underline {
    @apply inline-flex flex-col justify-center;
    /* @apply w-60; */
  }
  .dg-underline::after {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 280 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.86133 2.94025C78.716 2.62721 155.535 2.09814 232.42 2.09814C235.136 2.09814 277.942 2.24492 277.942 5.27943C277.942 5.66548 242.303 4.67511 241.799 4.67124C194.146 4.30648 147.306 4.96347 100.281 8.64785C70.4472 10.9853 39.8094 13.8856 11.345 18.0981' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: inherit;
    @apply -mt-6;
  }
  .cta {
    @apply mt-7;
  }

  section.customers {
    @apply bg-white text-black flex flex-col justify-center items-center;
  }

  .customers h2 {
    @apply mb-3;
  }

  .customers p {
    @apply max-w-4xl text-center;
  }

  .logos {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8;
  }
  .logo {
    @apply h-32 w-36 m-6;
  }
</style>