---
import PageLayout from "../layouts/PageLayout.astro";
import HeroCentered from "../components/content/hero/HeroCentered.astro";
import PrimaryCallToAction from "../components/content/home/PrimaryCallToAction.astro";
import DemoTranscription from "../components/content/demo/DemoTranscription.vue";

---
<PageLayout>
  <main class="w-screen max-w-screen-2xl mx-auto">
    <HeroCentered promo="See how Deepgram stacks up on the ASR Comparison Tool.ðŸŽðŸŠ" title="Meet the speech-to-text API built for the real world."/>
    <PrimaryCallToAction/>
    <DemoTranscription client:load/>
  </main>
</PageLayout>

<style>
  main {
    @apply bg-black;
    @apply text-white;
    background: black no-repeat top right url('./fingerprint.svg');
  }
</style>