---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		stuff
		<a href="/blog/2022/06/demopost">demopost</a>
	</main>
  <Footer />
</Layout>