---
import PageLayout from "../layouts/PageLayout.astro";
import PricingHero from "../components/content/pricing/Hero.astro";
import PricingTable from "../components/content/pricing/PricingTable.vue";
---

<PageLayout>
  <main>
    <PricingHero />
    <!-- <div class="contrast contrast--white contrast--end--black"> -->
    <PricingTable client:load />
    <!-- </div> -->

    <!-- <div>
  <img src="./images/left-wave.svg" />
  <div class="flex">
    <h3>Ready to start building?</h3>
    <p>Unlock $150 in free credit</p>
    <div><p>Get your API Key &#128273;</p><p>Got questions? <a href="#">Talk to an expert</a></p></div>
  </div>
</div> -->
  </main>
</PageLayout>
