---
import PageLayout from "../layouts/PageLayout.astro";
import HeroImage from "../components/content/hero/HeroImage.astro";
---

<PageLayout>
  <main>
    <HeroImage promo="Webinar: What’s New in Product, May 26 ✨" title="Transcribe and understand real-world audio with the API built for developers." primaryCta="See how easy it can be."/>
  </main>
</PageLayout>

<style>
  main {
    @apply bg-black text-white;
  }
</style>