---
import BlogCardList from "../../shared/components/lists/BlogCardList.astro";
import BlogCard from "../../shared/components/cards/BlogCardSB.astro";
import Pagination from "../nav/Pagination.astro";

const { posts, page, slug, path } = Astro.props;
---

<div class="w-full">
	<div class="relative mx-auto">
		<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center gap-4 lg:gap-6">
			{posts.map((post, index) => <BlogCard post={post} />)}
		</div>
	</div>
</div>

<Pagination page={page} path={path} slug={slug} />
