---
import DocsCardList from "../../../shared/components/lists/DocsCardList.astro";
import DocsCard from "../../../shared/components/cards/DocsCard.astro";
import Layout from "../../../layouts/General.astro";

const guides = await Astro.glob("./**/index.mdx");

const quickStartsEnglish = guides.filter((guide) => {
	return guide.frontmatter.type === "quickstart" && guide.frontmatter.language === "en";
});

const quickStartsSpanish = guides.filter((guide) => {
	return guide.frontmatter.type === "quickstart" && guide.frontmatter.language === "es";
});

const coreConcepts = guides.filter((guide) => {
	return guide.frontmatter.type === "core-concept";
});
const sortedCoreConcepts = coreConcepts.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order
});

---

<Layout>
	<article>
		<h1>Getting Started</h1>
		<h2>Quickstarts</h2>
		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">English</h2>
			{quickStartsEnglish.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</DocsCardList>
		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">Spanish</h2>
			{quickStartsSpanish.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</DocsCardList>
		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">Core Concepts</h2>
			{sortedCoreConcepts.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</DocsCardList>
	</article>
</Layout>

<style>
	h2 {
		@apply mb-5 mt-10;
		color: #111827;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.3333333;
		font-family: Favorit;
	}

	:global(h3) {
		@apply mt-0 !important;
		@apply mb-2 !important;
	}
</style>
