---
import Link from "../../shared/components/general/Link.astro";

const { title } = Astro.props;
---

<div class="max-w-7xl">
	<h1 class="justify-center mt-12 xl:mt-0 mb-6 text-5xl">{title}</h1>
	<p class="mb-10 text-white text-lg">Explore our guides, resources, and references to build with Deepgram.</p>

	<div class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 mb-10 m-auto w-3/4">
		<div class="flex flex-col items-center px-2">
			<Link class="button button--block button--primary" href="/documentation/getting-started/">Quickstart Guides</Link>
			<p class="text-casper text-center p-2 w-full">Get a first transcription in under 5 minutes.</p>
		</div>
		<div class="flex flex-col items-center px-2">
			<Link class="button button--block button--secondary" href="/sdks-tools/">View the SDKs</Link>
			<p class="text-casper text-center p-2 w-full">Access our API using your language of choice.</p>
		</div>
	</div>
</div>
