
<div class="w-10/12 md:w-6/12">
  <h2 class="mb-5">Community created SDKs</h2>
    <div class="flex items-start">
      <div class="flex justify-center">
        <img src="images/deno-sdks.svg" alt="deno logo"/>
      </div>
      <a href="https://github.com/deepgram-devs/deepgram-deno-sdk" target="_blank">
        <div>
          <h4 class="text-black">Deno</h4>
          <p class="text-base font-normal">Deno SDK for Deepgram’s automated speech recognition APIs.</p>
        </div>
      </a>
    </div>
    <div class="flex items-start">
    <div class="flex items-center justify-center">
      <img src="images/go-sdks.svg" alt="go logo"/>
    </div>
    <a href="https://github.com/deepgram-devs/deepgram-go-sdk" target="_blank">
      <div>
        <h4 class="text-black">Go</h4>
        <p class="text-base font-normal">Go SDK for Deepgram’s automated speech recognition APIs.</p>
      </div>
    </a>
  </div>
</div>

<style>
  a {
    @apply px-6 lg:px-10;
    @apply text-base font-normal no-underline;
  }

  a:hover {
    @apply bg-no-repeat;
    background-color:rgba(215,223,235,.3);
    background-image: url('/images/hyperlink.svg');
    background-position: 98% 0.5rem;
    background-size: 20px;
  } 
  
  h4 {
    @apply mt-6 mb-3 mx-0;
    /* @apply pl-2; */
    @apply text-xl;
  }
  
  p {
    @apply m-0 mb-5;
    @apply text-darkCharcoal;
  }
  

</style>