---
import Header from "../shared/components/layout/Header.astro";
import Footer from "../shared/components/layout/Footer.astro";
import "../shared/assets/styles/main.css";
---

<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body>
    <Header />
    <main class="bg-black text-white">
      <slot />
    </main>
    <Footer />
  </body>
</html>
