---
// import Header from "../components/layout/Header.astro";
// import Footer from "../components/layout/Footer.astro";
// import "../assets/styles/main.css";
---

<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	</head>
	<body>
		<slot></slot>
	</body>
</html>
