.alert {
		@apply flex flex-row flex-wrap items-center align-middle;
		@apply text-sm text-black;
		@apply my-4;
	}

	.info {
		@apply border-cloud rounded-sm border;
		@apply bg-mist;
	}
	.warning {
		@apply border-sunflower/20 rounded-sm border;
		@apply bg-sunflower/20;
	}
	.language {
		@apply border-cloud rounded-sm border;
		@apply bg-mist;
		@apply m-2.5;
	}

	.heading {
		@apply flex flex-row flex-wrap items-start sm:items-center;
		@apply my-4 ml-4;
	}
	.icon {
		@apply border-0;
	}
	.icon > * {
		@apply m-2.5 mr-0;
		@apply border-0;
	}

	.icon > .info {
		background: url("../../shared/assets/images/info.svg");
		@apply bg-no-repeat;
		@apply h-6 w-6;
	}

	.icon > .warning {
		background: url("../../shared/assets/images/warning.svg");
		@apply bg-no-repeat;
		@apply h-6 w-6;
	}
	.icon > .language {
		background: url("../../shared/assets/images/language.svg");
		@apply bg-no-repeat;
		@apply h-6 w-6;

		@apply text-white;
	}

	.text {
		@apply m-4;
		@apply w-4/6 sm:w-5/6;
	}

	.text :global(ul > li) {
		@apply list-disc;
	}

	.text :global(ol > li) {
		@apply list-decimal;
	}

	.text :global(li) {
		@apply ml-10 pb-1;
	}

	.text :global(p) {
		@apply pb-0;
	}
	
	.side-nav {
		@apply h-full col-span-2 md:col-span-1 fixed w-full z-10 md:relative md:block bg-mist md:bg-cloud30 p-8 h-full;
	}

	#toggle-nav + .toggle-nav-label::after {
		@apply md:hidden h-auto w-auto p-3 rounded-r-md bg-cloud z-20 left-0;
		content: "nav";
	}
	#toggle-nav + .toggle-nav-label + .side-nav {
		@apply hidden;
	}
	#toggle-nav:checked + .toggle-nav-label {
		@apply right-0;
	}
	#toggle-nav:checked + .toggle-nav-label + .side-nav {
		@apply block;
	}
	.side-nav ul {
		@apply ml-4 font-inter h-auto;
	}

	.side-nav ul li.active > .navlink-container > a {
		@apply text-darkCharcoal;
		@apply font-bold;
		@apply border-l-4 border-meadow;
	}
	.side-nav ul li ul li.active > .navlink-container > a {
		@apply border-r-4 border-meadow border-l-0 w-full;
	}
@screen md {
	#toggle-nav + .toggle-nav-label + .side-nav {
		@apply block;
	}
}

div.badge {
	    color: #4f6278;
    border-width: 1px;
    border-color: #66788d;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.5rem;
    margin: 1rem 0;
}

.autolink-svg {
	@apply text-black;
}

h1, h2, h3, h4, h5, h6 {
	display:flex;
	align-items: center;
}

