---
  import NetlifyIdentity from './NetlifyIdentity.vue'
---
<div class="footer">
    <!-- <nav class="nav"> -->
        <!-- <div>2021  &copy; Copyright notice |  <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>{ SITE.name }</a> -->        
        <!-- <ModeLabel client:load/> theme on <a href="https://astro.build/">Astro</a></div> -->
    <!-- </nav> -->
    <p>POC Netlify edge SSR</p>
        <NetlifyIdentity client:load/>
</div>