---
import PostAuthorImages from "./PostAuthorImages.astro";
import PostAuthorNames from "./PostAuthorNames.astro";
import PostDate from "./PostDate.astro";
import PostMetaDivider from "./PostMetaDivider.astro";
import PostCategory from "./PostCategory.astro";

const { post, authors, category } = Astro.props;

const date = new Date(post.first_published_at);
const formattedDate = date.toLocaleDateString("en-US", {
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<div class="flex flex-row items-center my-4 text-cloud">
	<PostAuthorImages authors={authors} />
	<p class="flex flex-col md:flex-none md:inline">
		<PostAuthorNames authors={authors} /><PostMetaDivider /><PostDate post={post} /><PostCategory category={category} />
	</p>
</div>
