---
import Link from "../../shared/components/general/Link.astro";
import CategoryName from "../../shared/components/strings/CategoryName.astro";

const { category } = Astro.props;
---

<span>in <Link class="text-iris" href={`/categories/${category.slug}`}><CategoryName category={category.content.title} /></Link></span>
