---
import Layout from "../../layouts/Default.astro";
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import BreadCrumb from "../../shared/components/nav/BreadCrumb.astro";
---
<Layout>
	<PrimarySection class="max-w-screen-lg mx-auto px-10 my-10 gap-16">
		<BreadCrumb />
        <h1>Got it!</h1>
        <p>
          Thanks for the submission. We'll be in touch soon. Be sure to check
          your email.
        </p>
	</PrimarySection>
</Layout>


<style>
	h1 {
		@apply text-4xl text-[#111827] font-bold mt-6 mb-3
	}
</style>