---
import GenericBlogCard from "./GenericBlogCard.astro";

const { class: classes, title, tags, author, image, ...rest } = Astro.props;
---

<GenericBlogCard class={`w-full flex justify-between ${classes ? classes : ""}`} {...rest}>
	<div class="flex grow flex-col justify-between text-black p-2">
		<h5 class="text-lg leading-5">{title}</h5>
		{author && (
			<div class="text-xs">
				<p>
					<span class="font-semibold uppercase">{author}</span>
				</p>
			</div>
		)}
	</div>
	<div class="shrink-0 w-[6rem] p-[0.5rem] flex justify-end place-items-start">
		<img class="h-[5rem] object-cover" src={image} alt={`Blog title image for the blog post: ${title}`} />
	</div>
</GenericBlogCard>
