---
import Header from "../layouts/Header.astro";
import Footer from "./Footer.astro";

import Title from "../shared/components/meta/Title.astro";
import Description from "../shared/components/meta/Description.astro";
import Meta from "../shared/components/meta/Meta.astro";
import ScriptSrc from "../shared/components/meta/ScriptSrc.astro";
import Link from "../shared/components/meta/Link.astro";

import "../shared/assets/styles/main.css";
import "../assets/styles/developers.css";
import JsonLD from "../shared/components/meta/JsonLD.astro";
---

<html class="no-js" lang="en" dir="ltr">
	<head>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-PFZZ2KW");
		</script>
		<!-- End Google Tag Manager -->

		<meta charset="utf-8" />

		<slot name="head:title">
			<Title title="Documentation, Use Cases, Posts, and Tutorials - Deepgram Docs" />
		</slot>
		<slot name="head:description">
			<Description
				name="description"
				content="Deepgram Automatic Speech Recognition helps you build voice applications with better, faster, more economical transcription at scale."
			/>
		</slot>
		<slot name="head:canonical">
			<Link rel="canonical" href={Astro.url} />
		</slot>

		<Link rel="icon" type="image/ico" href="/favicon.ico" />
		<Link rel="sitemap" href="/sitemap-index.xml" />
		<Link rel="alternative" type="application/rss+xml" href="/rss.xml" title="RSS Feed" />
		<slot name="rss" />

		<slot name="og:locale">
			<Meta property="og:locale" content="en_US" />
		</slot>
		<slot name="og:type">
			<Meta property="og:type" content="website" />
		</slot>
		<slot name="og:title">
			<Meta property="og:title" content="Deepgram Blog ⚡️" />
		</slot>
		<slot name="og:description">
			<Meta
				property="og:description"
				content="Deepgram Automatic Speech Recognition helps you build voice applications with better, faster, more economical transcription at scale."
			/>
		</slot>
		<slot name="og:url">
			<Meta property="og:url" content={Astro.url} />
		</slot>
		<slot name="og:site_name">
			<Meta property="og:site_name" content="Deepgram" />
		</slot>
		<slot name="og:image">
			<Meta property="og:image" itemprop="image" content={`${Astro.url.origin}/build-something-great-with-voice.png`} />
		</slot>
		<slot name="og:image:width">
			<Meta property="og:image:width" content="2400" />
		</slot>
		<slot name="og:image:height">
			<Meta property="og:image:height" content="1200" />
		</slot>
		<slot name="og:image:type">
			<Meta property="og:image:type" content="image/png" />
		</slot>
		<slot name="og:image:alt">
			<Meta property="og:image:alt" content="Deepgram - Build something great with voice. Faster, More Accurate Transcription Through AI Speech Recognition" />
		</slot>
		<slot name="twitter:card">
			<Meta property="twitter:card" content="summary" />
		</slot>
		<slot name="twitter:site">
			<Meta property="twitter:site" content="@deepgramai" />
		</slot>
		<slot name="head" />

		<Meta property="DC.date.issued" content={new Date().toISOString()} />
		<Meta name="theme-color" content="#0a121b" />
		<Meta name="robots" content="noodp, noydir" />
		<Meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<ScriptSrc src="//unpkg.com/alpinejs" defer />
		<ScriptSrc charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js?pre=1" />

		<slot name="json:ld">
			<JsonLD />
		</slot>
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFZZ2KW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<Header />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<!-- <style>
		.side-nav ul {
		@apply ml-4;
	}

	.side-nav ul li.active > .navlink-container a {
		@apply text-darkCharcoal;
		@apply font-bold;
		@apply border-l-4 border-meadow;
	}
	.side-nav ul li ul li.active > .navlink-container a {
		@apply border-r-4 border-meadow border-l-0 w-full;
	}

	main {
			@apply max-w-full;
      @apply md:max-w-4xl;
      @apply lg:max-w-5xl;
      @apply xl:max-w-6xl;
      @apply 2xl:max-w-7xl;
	}

	.use-case {
		@apply md:mx-20 lg:mx-32;
	}
	.post-prose > :global(h1) {
		@apply text-4xl;
	}
	.post-prose > :global(h2) {
		@apply text-2xl;
	}
	.post-prose > :global(h3) {
		@apply text-xl;
	}
	.post-prose > :global(img),
	.post-prose > :global(p img) {
		@apply mx-auto object-cover;
	}

	.post-prose > :global(small) {
		@apply text-sm;
	}

	.post-prose > :global(h1),
	.post-prose > :global(h2),
	.post-prose > :global(h3),
	.post-prose > :global(h4),
	.post :global(h4),
	.post-prose > :global(h5),
	.post-prose > :global(h6) {
		@apply pt-4 pb-2;
	}

	.post-prose > :global(p) {
		@apply pb-4 leading-loose lg:leading-normal;
	}

	.post-prose > :global(* a) {
		@apply text-darkIris;
	}

	.post-prose > :global(pre.astro-code) {
		@apply m-0 mb-2;
	}

	.post-prose > :global(p:not(pre.astro-code) code) {
		@apply bg-casper/50 py-[0.0625rem] px-[0.25rem];
	}

	.post-prose > :global(ol) {
		@apply m-0 mb-5 pl-8;
	}

	.post-prose > :global(ul:not(.contains-task-list)) {
		@apply m-0 mb-0 pl-6;
	}

	.post-prose > :global(ol) {
		counter-reset: li;
	}

	.post-prose > :global(ol li) {
		@apply relative;
	}

	.post-prose > :global(ol li),
	.post-prose > :global(ul:not(.contains-task-list) li),
	.post-prose > :global(ul li.task-list-item) {
		@apply py-1;
	}

	.post-prose > :global(ol li::before) {
		content: counter(li);
		counter-increment: li;
		@apply absolute -left-8 h-6 w-6 rounded-full border border-black text-center text-black;
	}

	.post-prose > :global(ul:not(.contains-task-list)) {
		@apply list-disc;
	}

	.post-prose > :global(ul:not(.contains-task-list) li::marker) {
		@apply text-casper;
	}

	.post-prose > :global(ul:not(.contains-task-list) li) {
		@apply pl-1 text-black;
	}

	.post-prose > :global(li.task-list-item input) {
		@apply appearance-none accent-pink-500;
	}

	.post-prose > :global(li.task-list-item input:checked::before) {
		content: "✔";
		@apply text-meadow text-lg;
	}

	.post-prose > :global(li.task-list-item input:not(:checked)::before) {
		content: "✖";
		@apply text-coral text-lg;
	}

	.post-prose > :global(table) {
		@apply mb-4 block min-w-full border-collapse overflow-auto whitespace-nowrap;
	}
	
	.post-prose > :global(table) + :global(p small) {
		@apply -mt-2 block text-center text-sm font-bold;
	}
	
	.post-prose > :global(table td),
	.post-prose > :global(table th) {
		@apply border-casper table-auto border whitespace-pre-wrap px-6 py-2 align-top;
	}
	
	.post-prose > :global(table th) {
		@apply bg-mist font-bold align-middle;
	}

	.post-prose > :global(.promo-container) {
		@apply md:-mx-20 lg:-mx-32;
	}

	.post-prose > :global(iframe) {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	.post-prose :global(blockquote) {
		box-sizing: border-box;
		display: block;
		margin-bottom: 2rem;
		margin-top: 2rem;
		@apply pl-[2.8125rem] font-[500];
		position: relative;
		width: 100%;
	}

	.post-prose :global(blockquote p) {
		padding-bottom: 0rem;
		@apply text-steel;
		font-weight: 500;
	}

	.post-prose :global(blockquote:before) {
		@apply bg-coral absolute;
		bottom: 0.3125rem;
		content: "";
		left: 1.5625rem;
		top: 0.3125rem;
		width: 0.125rem;
	}
</style> -->