---
import Default from "./Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import Prose from "./Prose.astro";
import HasAside from "../shared/components/layout/HasAside.astro";
import Feedback from "../shared/components/forms/Feedback.astro";
import SideNav from "../shared/components/nav/SideNav.astro";
import BreadCrumb from "../shared/components/nav/BreadCrumb.astro";
import TableOfContents from "../shared/components/nav/TableOfContents.astro";
import nav from "../pages/documentation/navigation.json";
import "../assets/styles/developers.css";
const { headings } = Astro.props;
---

<Default>
	<PrimarySection class="max-w-full xl:max-w-[72rem] 2xl:max-w-[80rem]" padding="px-0">
		<HasAside gridClass="flex">
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
					<SideNav slot="aside" navStructure={nav} navTitle="Documentation" />
				<div class="col-span-4 sm:col-span-2 lg:col-span-3 w-11/12 lg:w-full mx-auto sm:ml-8">
					<PrimarySection class="py-10" padding="px-0">
						<BreadCrumb />
						<div class="grid grid-cols-12">
							<Prose class="max-w-full lg:max-w-2xl col-span-12 xl:col-span-9">
								<slot />
							</Prose>
							<div class="col-span-0 xl:col-span-3 ml-8">
								<TableOfContents headings={headings} docsType={"GUIDE"} classes="sticky top-40" />
							</div>
						</div>
						<div class="max-w-full lg:max-w-xl 2xl:max-w-2xl mt-28 border-grass border-t-2"></div>
						<Feedback />
					</PrimarySection>
				</div>
			</div>
		</HasAside>
	</PrimarySection>
</Default>
