---
import Default from "./Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import Prose from "./Prose.astro";
import BreadCrumb from "../shared/components/nav/BreadCrumb.astro";
import TableOfContents from "../shared/components/nav/TableOfContents.astro";

import "../assets/styles/developers.css";

const { headings } = Astro.props
---

<Default>
	<PrimarySection class="max-w-screen-xl mb-[5rem] mx-auto px-6 lg:px-10 pt-[5rem] xl:pt-[6rem]">
		<BreadCrumb />
		<div class="flex">
			<Prose>
					<slot />
			</Prose>
			<TableOfContents headings={headings} docsType={'TOOL'} />
		</div>
	</PrimarySection>
</Default>

<style is:global>
	.side-nav ul {
		@apply ml-4;
	}

	.side-nav ul li.active > .navlink-container a {
		@apply text-darkCharcoal;
		@apply font-bold;
		@apply border-l-4 border-meadow;
	}
	.side-nav ul li ul li.active > .navlink-container a {
		@apply border-r-4 border-meadow border-l-0 w-full;
	}
</style>
