---
const { name } = Astro.props
---

<div x-data="{ open: false }" @click.outside="open = false">
  <button @click="open = !open" type="button" class="group rounded-md inline-flex items-center text-base font-medium" aria-expanded="false">
    <span>{name}</span>

    <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>

  <div :class="{'flex': open, 'hidden': !open}" class="absolute z-10 top-full inset-x-0 transform bg-almostBlack">
    <div class="max-w-7xl mx-auto grid gap-y-6 px-4 py-6 sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-3 lg:px-8 lg:py-12 xl:py-16">

      <slot />

    </div>
  </div>
</div>