---
import Icon from "../Icon.astro"

const { href, description, icon } = Astro.props
---

<a :href={href} class="-m-3 p-3 flex flex-col justify-between">
  <div class="flex md:h-full lg:flex-col">
    <div class="flex-shrink-0">
      <span class="inline-flex items-center justify-center h-10 w-10 rounded-md bg-fireEngine text-white sm:h-12 sm:w-12">
        <Icon icon={icon} class="h-6 w-6 fill-current" />
      </span>
    </div>
    <div class="ml-4 md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4">
      <div>
        <p class="text-base font-medium"><slot/></p>
        <p class="mt-1 text-sm text-gray-200">{description}</p>
      </div>
      <p class="mt-2 text-sm font-medium text-lightIris lg:mt-4">Learn more <span aria-hidden="true">&rarr;</span></p>
    </div>
  </div>
</a>