:root {
	--docsearch-container-background: rgba(0, 0, 0, 0.8);
	--docsearch-modal-background: rgba(20, 30, 41, 1);
	--docsearch-searchbox-focus-background: black;
	--docsearch-text-color: white;
	--docsearch-primary-color: rgba(56, 237, 172, 1);
	--docsearch-hit-background: rgba(53, 70, 89, 1);
	--docsearch-hit-active-color: black;
	--docsearch-hit-color: white;
}

.DocSearch-Hit {
	border-radius: 0px;
	@apply my-2 py-0;
}
.DocSearch-Hit a {
	border-radius: 1px;
	box-shadow: none;
}

.DocSearch-Modal {
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	margin: 0 auto auto;
	box-shadow: none;
}

.DocSearch-Hit-icon {
	display: none;
}

.DocSearch-Dropdown {
	border: 0px;
}

.DocSearch-Footer {
	@apply bg-darkCharcoal;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	filter: drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.7));
	border: 0px;
	box-shadow: none;
}

.DocSearch-Commands-Key {
	background: transparent;
	@apply border-stone rounded-sm border;
}
