---
const { height="500", width="100%", src, ...rest } = Astro.props;
---

<div class="code-playground" {...rest}>
  <iframe height={height} width={width} src={src} loading="lazy"> </iframe>
</div>

<style>
  .code-playground {
  @apply my-7;
}
</style>