---
const { height = "500", width = "100%", src, ...rest } = Astro.props;
---

<div class="code-embed w-full" {...rest}>
	<iframe class="aspect-video" height={height} width={width} src={src} loading="lazy"> </iframe>
</div>

<style>
	.code-embed {
		@apply my-7;
	}
</style>
