---
import PrimarySection from "../../../shared/components/layout/PrimarySection.astro";
import AuthorHero from "../../../components/AuthorHero.astro";
import Layout from "../../../layouts/Default.astro";
import ContrastSection from "../../../shared/components/decoration/ContrastSection.astro";

export async function getStaticPaths() {
	const authorFiles = import.meta.glob("../../../content/blog/authors/*.json");

	async function getAuthors() {
		let authors = [];
		for (const path in authorFiles) {
			const author = await authorFiles[path]();
			const slug = path.split("/").pop().replace(".json", " ").trim();
			authors.push({ ...(author as object), slug });
		}
		return authors;
	}

	const allAuthors = await getAuthors();
	const sortedAuthors = allAuthors.sort((a, b) => a.title.localeCompare(b.title));

	return sortedAuthors.map((author) => {
		return {
			params: {
				slug: author.slug,
			},
			props: {
				author,
			},
		};
	});
}

const { author } = Astro.props;
const { slug } = Astro.params;
---

<Layout>
	<ContrastSection contrast="darkCharcoal" background="white" bottomDivider="eclipse-divider">
		<AuthorHero author={author} />
	</ContrastSection>
	<PrimarySection>
		<!-- <h1>{author.title}</h1>
		<p>{slug}</p> -->
		1st test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
	</PrimarySection>
</Layout>
