---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../assets/styles/main.css'
---
<html>
  <head>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    overflow-x: hidden;
  }
</style>