---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---
<html>
  <head>
  </head>
  <body class="bg-black text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>