---
const { content } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Deepgram Blog Base</title>
	</head>
  <body>
    <h1 class="block">Base Hello</h1>
    <slot/>
  </body>
  </html>