---
export async function getStaticPaths() {
  const posts = await Astro.glob('../../../../../blog-content/**/*.md')
  return posts.map((post) => {
    const filePath = post.file.split('/')
    const filename = filePath[filePath.length - 1].slice(0, -3)
    const date = new Date(post.frontmatter.date)
    const formattedMonth = ("0" + (date.getMonth() + 1)).slice(-2)
    const year = date.getFullYear().toString()
    console.log('post', { year, month: formattedMonth, slug: filename })
    return {
      params: { year, month: formattedMonth, slug: filename },
      props: { post, date: post.frontmatter.date },
    };
  });
}
const { year, month, slug } = Astro.params;
const {post, date} = Astro.props
---
<h1>{year}</h1>
<h1>{month}</h1>
<h1>{slug}</h1>
<p>{date}</p>
<post.Content />