---

---
<section class={Astro.props.class}>
  <div class="max-w-screen-2xl mx-auto overflow-hidden xl:overflow-visible">
    <div class={`-mx-[40rem] px-[40rem] ${Astro.props.background}`}>
      <div class="px-4 md:px-6 lg:px-10"> 
        <slot/>
      </div>
    </div>
  </div>
</section>