<footer class="w-full bg-black">
	<section class="max-w-screen-2xl mx-auto px-10 md:px-6 sm:px-4 ">
    <div>Logo</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <ul><li>Title</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li></ul>
        <ul><li>Title</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li><li>Link</li></ul>
      </div>
      <div class="lg:col-start-3">stuff 3</div>
    </div>
	</section>
</footer>
