---
import Brand from "./Brand.astro";
import Nav from "./Nav.astro";
---
<header class="w-full bg-almostBlack py-4">
	<section class="max-w-screen-2xl flex mx-auto">
		<a href="/" class="text-fireEngine inline-block pr-8"><Brand class="w-20" /></a>
		<Nav />
	</section>
</header>