---
import Brand from "../Brand.astro";
import Nav from "./Nav.astro";
---
<header class="w-full bg-almostBlack py-4">
	<section class="max-w-screen-2xl flex mx-auto space-x-10 px-4 md:px-6 lg:px-10">
		<a href="/" class="text-fireEngine inline-block"><Brand brand="deepgram" class="w-20" /></a>
		<Nav />
	</section>
</header>