---
import Icon from "../Icon.astro";
import Svg from "../Svg.astro";
import NavMenu from "../nav/NavMenu.astro";
import NavMenuPrimaryItem from "../nav/NavMenuPrimaryItem.astro";
import NavMenuItem from "../nav/NavMenuItem.astro";
import NavItem from "../nav/NavItem.astro";
import MobileNavMenu from "../nav/MobileNavMenu.astro";
import MobileNavMenuItem from "../nav/MobileNavMenuItem.astro";
import MobileNavItem from "../nav/MobileNavItem.astro";
---

<header x-data="{ menu: null }">
	<div class="z-20 fixed inset-0 bg-black/75" style="display: none;" x-show="menu !== null" x-on:click="menu = null"></div>
	<div class="z-30 absolute inset-x-0 bg-almostBlack text-white">
		<div class="max-w-screen-2xl mx-auto px-6 lg:px-10 flex justify-between items-center xl:justify-start xl:space-x-10">
			<div>
				<a href="/" class="flex">
					<span class="sr-only">Deepgram</span>
					<Svg name="deepgram" class="my-4 h-8 w-auto text-coral" />
				</a>
			</div>
			<div class="flex items-center space-x-5 xl:ml-12 pb-1 xl:hidden">
				<button x-on:click="menu = 'Mobile'" type="button" class="button button--secondary button--small" aria-expanded="false"> Menu</button>
				<NavItem href="/" class="button button--primary button--small">Sign Up</NavItem>
			</div>
			<div class="hidden xl:flex-1 xl:flex xl:items-center xl:justify-between">
				<nav class="flex space-x-10" x-on:click.outside="menu = null">
					<!-- Product -->
					<NavMenu name="Product" primary>
						<NavMenuPrimaryItem slot="primary" href="/product" icon="star" description="Meet the Deepgram speech-to-text API">View Product</NavMenuPrimaryItem>

						<NavMenuItem href="/product/model-overview" icon="model">Model Overview</NavMenuItem>
						<NavMenuItem href="/product/sdks-tools" icon="box">SDKs + Tools</NavMenuItem>
						<NavMenuItem href="/product/languages" icon="globe">Languages</NavMenuItem>
						<NavMenuItem href="/product/free-api-key" icon="code">Free API Key</NavMenuItem>
						<NavMenuItem href="/product/why-deepgram" icon="question">Why Deepgram</NavMenuItem>
					</NavMenu>

					<!-- Solutions -->
					<NavMenu name="Solutions">
						<NavMenuItem href="/built-with-dg" icon="sparkles">Built with Deepgram</NavMenuItem>
						<NavMenuItem href="/" icon="head-headphones">Contact Centers</NavMenuItem>
						<NavMenuItem href="/" icon="mag-glass-soundwave">Speech Analytics</NavMenuItem>
						<NavMenuItem href="/" icon="robot-head">Conversational AI</NavMenuItem>
					</NavMenu>

					<!-- Pricing -->
					<NavItem href="/pricing" class="text-white">Pricing</NavItem>

					<!-- Docs -->
					<NavMenu name="Docs">
						<NavMenuItem href="/" icon="file">Documentation</NavMenuItem>
						<NavMenuItem href="/" icon="code-laptop">API Reference</NavMenuItem>
						<NavMenuItem href="/" icon="book">Guides</NavMenuItem>
						<NavMenuItem href="/" icon="heartbeat">Status</NavMenuItem>
						<NavMenuItem href="/" icon="grad">Tutorials</NavMenuItem>
						<NavMenuItem href="/" icon="rotating-gear">Changelog</NavMenuItem>
					</NavMenu>

					<!-- Blog -->
					<NavItem href="/" class="text-white">Blog</NavItem>

					<!-- About -->
					<NavMenu name="About">
						<NavMenuItem href="/" icon="deepgram-d">About Us</NavMenuItem>
						<NavMenuItem href="/" icon="newspaper">Newsroom</NavMenuItem>
						<NavMenuItem href="/" icon="open-door">Careers</NavMenuItem>
					</NavMenu>
				</nav>
				<div class="flex items-center xl:ml-12 pb-1">
					<button class="button button--small">
						<Icon icon="search" class="w-[1.5em] h-[1.5em] fill-current" />
					</button>
					<NavItem href="https://console.deepgram.com/" rel="noopener noreferrer nofollow" class="button button--small text-white">Log In</NavItem>
					<NavItem href="/" class="button button--secondary button--small">Contact Us</NavItem>
					<NavItem href="https://console.deepgram.com/signup" rel="noopener noreferrer nofollow" class="ml-4 button button--primary button--small">Sign Up</NavItem>
				</div>
			</div>
		</div>

		<div class="fixed top-0 inset-x-0 xl:hidden" style="display: none;" x-show="menu === 'Mobile'">
			<div class="h-screen bg-almostBlack text-white flex flex-col justify-between">
				<div class="overflow-y-scroll">
					<div class="px-6 lg:px-10 flex items-center justify-between">
						<div>
							<a href="/" class="flex">
								<span class="sr-only">Deepgram</span>
								<Svg name="deepgram" class="my-4 h-8 w-auto text-coral" />
							</a>
						</div>
						<div class="flex items-center xl:ml-12 pb-1 xl:hidden">
							<button class="button button--small">
								<Icon icon="search" class="w-[1.5em] h-[1.5em] fill-current mr-3" />
							</button>
							<button x-on:click="menu = null" type="button" class="button button--secondary button--small" aria-expanded="false">
								<Icon icon="xmark-large" class="w-[1em] h-[1em] fill-current" />
							</button>
						</div>
					</div>
					<div class="mt-6">
						<nav class="grid text-xl font-bold bg-darkCharcoal">
							<!-- Product -->
							<MobileNavMenu name="Product" primary>
								<MobileNavMenuItem href="/product" icon="star">View Product</MobileNavMenuItem>
								<MobileNavMenuItem href="/product/model-overview" icon="model">Model Overview</MobileNavMenuItem>
								<MobileNavMenuItem href="/product/sdks-tools" icon="box">SDKs + Tools</MobileNavMenuItem>
								<MobileNavMenuItem href="/product/languages" icon="globe">Languages</MobileNavMenuItem>
								<MobileNavMenuItem href="/product/free-api-key" icon="code">Free API Key</MobileNavMenuItem>
								<MobileNavMenuItem href="/product/why-deepgram" icon="question">Why Deepgram</MobileNavMenuItem>
							</MobileNavMenu>

							<!-- Solutions -->
							<MobileNavMenu name="Solutions">
								<MobileNavMenuItem href="/built-with-dg" icon="sparkles">Built with Deepgram</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="head-headphones">Contact Centers</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="mag-glass-soundwave">Speech Analytics</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="robot-head">Convo AI</MobileNavMenuItem>
							</MobileNavMenu>

							<!-- Pricing -->
							<MobileNavItem href="/pricing" class="text-white">Pricing</MobileNavItem>

							<!-- Docs -->
							<MobileNavMenu name="Docs">
								<MobileNavMenuItem href="/" icon="file">Documentation</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="code-laptop">Guides</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="book">Status</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="heartbeat">Changelog</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="grad">API Reference</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="rotating-gear">Tutorials</MobileNavMenuItem>
							</MobileNavMenu>

							<!-- Blog -->
							<MobileNavItem href="/" class="text-white">Blog</MobileNavItem>

							<!-- About -->
							<MobileNavMenu name="About">
								<MobileNavMenuItem href="/" icon="deepgram-d">About Us</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="newspaper">Newsroom</MobileNavMenuItem>
								<MobileNavMenuItem href="/" icon="open-door">Careers</MobileNavMenuItem>
							</MobileNavMenu>
						</nav>
					</div>
				</div>
				<div class="p-6 lg:p-10">
					<div class="grid grid-cols-2 grid-rows-2 gap-4">
						<a href="#" class="button button--secondary button--block text-xl">Log In</a>
						<a href="#" class="button button--tertiary button--block text-xl">Sign Up</a>
						<a href="#" class="col-span-2 button button--primary button--block text-xl">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
