<nav class="flex">
  <ul class="flex">
    <li>link</li>
    <li>link</li>
    <li>link</li>
    <li>link</li>
    <li>link</li>
  </ul>
  <ul class="flex justify-self-end">
    <li>search</li>
    <li>contact us</li>
    <li>sign up</li>
  </ul>
</nav>