---
import Icon from "../Icon.astro"
---

<script>
	console.log('hello')
</script>

<nav class="nav">
	<ul class="main">
		<li><a href="/">Product</a></li>
		<li><a href="/">Solutions</a></li>
		<li><a href="/pricing">Pricing</a></li>
		<li><a href="/">Docs</a></li>
		<li><a href="/">Blog</a></li>
		<li><a href="/">About</a></li>
	</ul>
	<ul class="side">
		<li class="no-margin">
			<a href="/search" rel="noopener noreferrer"><Icon icon="search" class="fill-current w-4" /></a>
		</li>
		<li class="no-margin">
			<a href="https://console.deepgram.com/" rel="noopener noreferrer">Log in</a>
		</li>
		<li class="hidden xl:block">
			<a href="https://console.deepgram.com/signup" rel="noopener noreferrer" class="button--secondary">Contact Us</a>
		</li>
		<li class="block xl:hidden">
			<button class="button button--small button--secondary">Menu</button>
		</li>
		<li>
			<a href="https://console.deepgram.com/signup" rel="noopener noreferrer" class="button--primary">Sign Up</a>
		</li>
	</ul>
</nav>

<style>
	.nav {
		@apply grow flex text-white text-lg;
	}

	.nav ul {
		@apply flex;
	}

	.nav ul.main {
		@apply hidden xl:flex;
	}

	.nav ul li a {
		@apply button button--small;
	}

	.nav ul.side {
		@apply ml-auto;
	}

	/* .nav ul li:not(:first-child) a {
		@apply ml-5;
	} */

	.nav ul li:not(:last-child):not(.no-margin) button,
	.nav ul li:not(:last-child):not(.no-margin) a {
		@apply mr-4;
	}
</style>