---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import AuthorHero from "../../components/AuthorHero.astro";
import Layout from "../../layouts/Default.astro";

export async function getStaticPaths() {
	const allAuthors = await Astro.glob("/src/content/blog/authors/*.json");
	const sortedAuthors = allAuthors.sort((a, b) => a.title.localeCompare(b.title));

	return sortedAuthors.map((author) => {
		// const pathParts = author.file.replace("/index.md", "").split("/");
		// const slug = pathParts[pathParts.length - 1];

		return {
			params: {
				slug: author.slug,
			},
			props: {
				author,
			},
		};
	});
}

const { author } = Astro.props;
const { slug } = Astro.params;
---

<Layout>
	<AuthorHero author={author} />
	<PrimarySection>
		<!-- <h1>{author.title}</h1>
		<p>{slug}</p> -->
		1st test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
		test<br />
	</PrimarySection>
</Layout>
