---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import Layout from "../../layouts/Default.astro";
import { Debug } from "astro/components";
import AuthorCardList from "../../shared/components/lists/AuthorCardList.astro";
import ContrastSection from "../../shared/components/decoration/ContrastSection.astro";
import Hero from "../../components/authors/Hero.astro";
import AuthorCard from "../../shared/components/cards/AuthorCard.astro";
import NoLinkCardListTitle from "../../shared/components/titles/NoLinkCardListTitle.astro";
import Title from "../../shared/components/meta/Title.astro";
import Description from "../../shared/components/meta/Description.astro";
import Meta from "../../shared/components/meta/Meta.astro";
import Backlink from "../../components/nav/Backlink.astro";
import JsonLD from "../../shared/components/meta/JsonLD.astro";
import { getSluggedJson } from "../../shared/util";

const authors = await getSluggedJson("blog/authors");
const team = authors.filter((a) => a.team);
const alumni = authors.filter((a) => !a.team && a.alumni);
const guests = authors.filter((a) => !a.team && !a.alumni);

// build json schema object
const schema = {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	itemListElement: [
		{
			"@type": "ListItem",
			position: 1,
			name: "Deepgram Home",
			item: "https://deepgram.com",
		},
		{
			"@type": "ListItem",
			position: 2,
			name: "Blog",
			item: Astro.url.origin,
		},
		{
			"@type": "ListItem",
			position: 3,
			name: "Authors",
		},
	],
};
---

<Layout>
	<JsonLD slot="json:ld" {schema} />

	<Title slot="head:title" title="All authors - Deepgram Blog ⚡️" />
	<Description slot="head:description" name="description" content="All the authors writing content on the Deepgram blog." />
	<Meta slot="og:title" property="og:title" content="All authors - Deepgram Blog ⚡️" />
	<Meta slot="og:description" property="og:description" content="All the authors writing content on the Deepgram blog." />

	<ContrastSection contrast="darkCharcoal" class="bg-starburst-gradient bg-responsive-svg" background="white" bottomDivider="eclipse-divider">
		<PrimarySection class="pt-[6.75rem] md:pt-[7.03125rem] lg:pt-[7.3125rem] xl:pt-[7.875rem]">
			<Backlink href="/posts" class="mb-6 md:mb-8 lg:mb-10 xl:mb-12">All posts</Backlink>

			<Hero title="Authors" />
		</PrimarySection>
	</ContrastSection>

	<PrimarySection>
		<AuthorCardList class="mt-10 lg:mt-16 xl:mt-20">
			<NoLinkCardListTitle slot="title"><h2>Deepgram Team</h2></NoLinkCardListTitle>
			{team.map((author) => <AuthorCard author={author} />)}
		</AuthorCardList>
		<AuthorCardList class="mt-10 lg:mt-16 xl:mt-20">
			<NoLinkCardListTitle slot="title"><h2>Guest Authors</h2></NoLinkCardListTitle>
			{guests.map((author) => <AuthorCard author={author} />)}
		</AuthorCardList>
		<AuthorCardList class="mt-10 lg:mt-16 xl:mt-20 mb-6">
			<NoLinkCardListTitle slot="title"><h2>Deepgram {alumni.length > 1 ? "Alumni" : "Alum"}</h2></NoLinkCardListTitle>
			{alumni.map((author) => <AuthorCard author={author} />)}
		</AuthorCardList>
	</PrimarySection>
</Layout>
