---
import * as Component from '../../../components/index.js';
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style is:global>
			h {
				display: block;
				font-size: 2em;
				font-weight: bold;
				margin-block: 0.67em;
			}
		</style>
	</head>

	<body>
		<h1>Components Demo</h1>
		<Component.Button type="submit">Test Button</Component.Button>
		<br/>
		<Component.Promo>See how Deepgram stacks up on the ASR Comparison Tool.🍎🍊</Component.Promo>
		<br/>
		<Component.Toggle/>
		<br/>
		<MicButton/>
	</body>
</html>
