.bg-sound-wave-cloud-dark {
	background-image: url("/sound-wave-cloud-dark.svg");
	background-size: 50rem;
	background-repeat: repeat-x;
	background-position: 0 12rem;
}

.bg-starburst-gradient {
	background-image: url("/starburst-gradient.svg");
}

.bg-tag-gradient {
	background-image: url("/tag-gradient.svg");
}

.bg-responsive-svg {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 60%;
}

@media screen(sm) {
	.bg-responsive-svg {
		background-position: center bottom 1rem;
		background-size: auto;
	}
}

@media screen(md) {
	.bg-svg {
		background-position: center bottom 2rem;
	}
}

@media screen(lg) {
	.bg-svg {
		background-position: center bottom 3rem;
	}
}

@media screen(xl) {
	.bg-svg {
		background-position: center bottom 4rem;
	}
}
