---
import DocsCardList from "../../../shared/components/lists/DocsCardList.astro";
import DocsCard from "../../../shared/components/cards/DocsCard.astro";
import Layout from "../../../layouts/General.astro";

const security = await Astro.glob("./**/index.mdx");
const sortedSecurity = security.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order
});
---

<Layout>
	<article>
		<h1>Security</h1>
		<DocsCardList>
			{sortedSecurity.map((guide) => <DocsCard class={`w-full flex flex-col`} doc={guide} />)}
		</DocsCardList>
	</article>
</Layout>

<style>
	h1 {
		color: #111827;
		font-weight: 700;
		font-size: 2.25em;
		margin-top: 1.5rem;
		margin-bottom: 2.50rem !important;
		line-height: 1.1111111;
		font-family: Favorit;
	}
	h2 {
		@apply mb-5 mt-10;
		color: #111827;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.3333333;
		font-family: Favorit;
	}

	:global(h3) {
		@apply mt-0 !important;
		@apply mb-2 !important;
	}
</style>
