---
import { renderRichText } from "@storyblok/astro";
const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.inner_html);
---

<div class="github-discussions">
  <slot>
    <p><span set:html={renderedRichText}></span>If you have any feedback about this change, or anything else around Deepgram, we’d love to hear from you. Please let us know in our <a href="https://github.com/orgs/deepgram/discussions/new?category=feedback">GitHub discussions</a>.</p>
  </slot>
</div>