---
import Icon from "../general/Icon.astro";
import { renderRichText } from "@storyblok/astro";

let type;
let title;

if (Astro.props.type) {
	// If prop comes from Astro mdx, set blok to type prop that comes from the mdx file
	type = Astro.props.type;
} else {
	type = "info";
}

if (Astro.props.title) {
	title = Astro.props.title;
}

const { blok = { type, title } } = Astro.props;

let renderedRichText;
if (blok.inner_html) {
	renderedRichText = renderRichText(blok.inner_html);
}

const host = Astro.url.host;
---

<!-- This script will update all blog panels to be dark theme -->
<script define:vars={{ host }}>
	setTimeout(() => {
		const panels = document.getElementsByClassName("panel");
		if (host === "blog.deepgram.com") {
			Array.from(panels).forEach((a) => {
				a.classList.add("dark");
			});
		}
	}, 500);
</script>

<div class={`panel ${blok.type || type}`}>
	<div class="heading">
		<div class="p-2">
			<Icon class={`icon h-6 w-6 ${blok.type || type}`} icon={blok.type || type} />
		</div>
		<div class="title">
			{blok.title || title}
		</div>
	</div>

	<div class="text">
		<slot>
			<div set:html={renderedRichText}></div>
		</slot>
	</div>
</div>

<style scoped>
	.panel {
		@apply flex flex-row flex-wrap align-middle;
		@apply text-ink text-sm;
		@apply my-4;
		@apply border-cloud rounded-sm border-2;
		@apply bg-mist;
	}

	.panel.dark {
		@apply text-cloud;
		@apply border-rock rounded-sm border-2;
		@apply bg-ink;
	}

	.heading {
		@apply border-cloud rounded-sm border-b-2;
		@apply w-full;
		@apply flex flex-row flex-wrap;
		@apply my-0 ml-0;
		/* @apply ml-4; */
	}

	.panel.dark .heading {
		@apply border-rock rounded-sm border-b-2;
	}
	.icon {
		@apply flex flex-col flex-wrap align-middle;
		@apply m-1 border-0;
	}

	.icon.info {
		@apply fill-blueberry;
	}

	.panel.info.dark .icon {
		@apply fill-sky;
	}

	.icon.warning {
		@apply fill-gold;
	}

	.title {
		@apply flex flex-wrap;
		@apply m-4;
		@apply w-4/6 md:w-5/6;
		@apply font-semibold;
	}

	.text {
		@apply m-4;
		@apply w-4/6 sm:w-5/6;
	}

	p + p,
	p + ul,
	p + ol,
	p + h3,
	p + h4 {
		@apply mt-0;
	}

	.text :global(ul > li) {
		@apply list-disc;
	}

	.text :global(ol > li) {
		@apply list-decimal;
	}

	.text :global(li) {
		@apply ml-10 pb-1 pl-7;
	}

	.text :global(p) {
		@apply py-0;
	}

	.text :global(p:first-of-type) {
		@apply pt-0;
	}
</style>
