---
import BlogCardList from "../../shared/components/lists/BlogCardList.astro";
import ToolsCard from "../../shared/components/cards/ToolsCard.astro";

const tools = await Astro.glob("../../pages/sdks-tools/tools/**/*.mdx")
---

<div class="max-w-screen-xl mx-auto">
  
  <h2 class="text-stone mt-6 mb-3">Tools & Integrations</h2>
  <BlogCardList>
    {tools.map(doc=>{
      return <ToolsCard doc={doc}/>
    })}
  </BlogCardList>
</div>

<style>
  :global(h2) {
   @apply text-2xl;
  }
</style>