@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "favorit";
	src: url("../fonts/ABCFavorit-Bold.woff2");
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode-Light.ttf");
}

/* for the notch */
html {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
	@apply font-inter;
}

code {
	@apply font-firaCode;
}

/* @media screen and (min-width: 1600px) {
  html {
    font-size: 25px;
  }
} */

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-favorit;
		@apply font-bold;
	}

	h1 {
		@apply lg:text-h1-large-d text-h1-large-m;
	}

	h1 small {
		@apply lg:text-h1-small-d text-h1-small-m;
	}

	h2 {
		@apply lg:text-h2-d text-h2-m;
	}

	h3 {
		@apply lg:text-h3-d text-h3-m;
	}

	h4 {
		@apply lg:text-h4-d text-h4-m;
	}

	h5 {
		@apply lg:text-h5-d text-h5-m;
	}

	h6 {
		@apply lg:text-h6-d text-h6-m;
	}

	a {
		@apply text-lightIris;
	}
}

@layer components {
	.button {
		@apply grow-0 px-[2.75rem] pb-[1.1rem] pt-[1.15rem] text-center text-[1rem] font-[700] leading-[1rem];
	}

	.button:disabled {
		@apply bg-storm text-rock;
	}

	.button.button--light-bg:disabled {
		@apply bg-casper text-storm;
	}
}

@layer utilities {
	.button--small {
		@apply px-[0.6875rem] pb-[0.65rem] pt-[0.725rem];
	}

	.button--mini {
		@apply min-w-[4.75rem] px-[0.475rem] pb-[0.375rem] pt-[0.5rem] leading-[0.75rem];
	}

	.button--primary {
		@apply bg-meadow text-darkCharcoal;
	}

	.button--primary.button--alternative {
		@apply bg-white;
	}

	.button--primary.button--alternative:hover {
		@apply bg-mintChip;
	}

	.button--secondary {
		@apply bg-rock text-meadow;
	}

	.button--block {
		@apply w-full;
	}

	.astro-code {
		@apply overflow-hidden py-7 px-10;
	}

	.bg-fingerprint {
		background-image: url("/shared/fingerprint.svg");
		background-repeat: no-repeat;
		background-position: right 16rem top;
	}

	.bg-starburst {
		background-image: url("/shared/starburst.svg");
		background-repeat: no-repeat;
		background-position: 21rem top;
		background-size: 42.75rem;
	}

	.bg-saturn {
		background-image: url("/shared/saturn.svg");
		background-repeat: no-repeat;
		background-position: 22rem top;
		background-size: 30rem;
	}

	.bg-blur {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
}
