---
import Promo from "../Promo.page-ssr.astro";

const { promo, title, body, primaryCta, secondaryCta, tertiaryCta, page } = Astro.props;
---

<section class="hero w-full">
	<div class="flex flex-col max-w-screen-2xl mx-auto">
		<div class="pb-24 pt-12 pl-10 md:pl-64 lg:pl-80">
			<svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M26.5924 18.2544V1.84814H26.0716V18.2544C26.0716 22.8565 22.3404 26.5877 17.7383 26.5877H1.33203V27.1086H17.7383C22.3404 27.1086 26.0716 30.8398 26.0716 35.4419V51.8482H26.5924V35.4419C26.5924 30.8398 30.3237 27.1086 34.9258 27.1086H51.332V26.5877H34.9258C30.3237 26.5877 26.5924 22.8565 26.5924 18.2544V18.2544Z"
					fill="#38EDAC"
					stroke="#38EDAC"
					stroke-width="2"></path>
			</svg>
		</div>
		<div class="flex flex-col items-center">
			<slot name="promo">
				<Promo>{promo}</Promo>
			</slot>
			<slot name="title">
				<h1>{title}</h1>
			</slot>
			<slot name="subtext" />
			<slot name="cta">
				<div class="flex justify-center space-x-7">
					<a href="/" class="button button--primary">Start Building</a>
					<a href="/" class="button button--secondary">Contact Sales</a>
				</div>
			</slot>
		</div>
		<div class="flex justify-end pt-24 pb-12 pr-10 md:pr-56 lg:pr-72">
			<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M21.0029 0.0483398V0.498546C21.0029 10.9676 29.491 19.4556 39.96 19.4556H40.4101V20.6404H39.96C29.491 20.6404 21.0029 29.1284 21.0029 39.5975V40.0483H19.8181V39.5975C19.8181 29.1284 11.3301 20.6404 0.861078 20.6404H0.410156V19.4556H0.861078C11.3301 19.4556 19.8181 10.9676 19.8181 0.498546V0.0483398H21.0029Z"
					fill="#FE5C5C"></path>
			</svg>
		</div>
	</div>
</section>

<style>
	section {
		@apply mb-16;
	}
</style>
