---
import LeftStar from "../../decoration/LeftStar.astro";
import RightStar from "../../decoration/RightStar.astro";
import FlareSection from "../../layout/FlareSection.astro";
---

<LeftStar />
<FlareSection class="homepage-hero" background="bg-starburst">
  <div class="flex flex-col items-center">
    <slot/>
  </div>
</FlareSection>
<RightStar />