---
import DocsCardList from "../../../shared/components/lists/DocsCardList.astro";
import DocsCard from "../../../shared/components/cards/DocsCard.astro";
import Layout from "../../../layouts/General.astro";

const guides = await Astro.glob("./**/index.mdx");

const TipsGuides = guides.filter((guide) => {
	return guide.frontmatter.type === "tips";
});
const sortedTipsGuides = TipsGuides.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order;
});

const featuresGuides = guides.filter((guide) => {
	return guide.frontmatter.type === "features";
});
const sortedFeaturesGuides = featuresGuides.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order;
});

const migrationGuides = guides.filter((guide) => {
	return guide.frontmatter.type === "migration";
});
const sortedMigrationGuides = migrationGuides.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order;
});

const troubleshootingGuides = guides.filter((guide) => {
	return guide.frontmatter.type === "troubleshooting";
});
const sortedTroubleshootingGuides = troubleshootingGuides.sort((a, b) => {
	return a.frontmatter.order - b.frontmatter.order;
});
---

<Layout>
	<article>
		<h1>Deepgram Guides</h1>

		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">Tips and Tricks</h2>
			{sortedTipsGuides.map((guide) => <DocsCard class={`flex w-full flex-col`} doc={guide} />)}
		</DocsCardList>
		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">Migrating</h2>
			{sortedMigrationGuides.map((guide) => <DocsCard class={`flex w-full flex-col`} doc={guide} />)}
		</DocsCardList>
		<DocsCardList>
			<h2 slot="title" class="text-stone uppercase">Feature Deep Dives</h2>
			{sortedFeaturesGuides.map((guide) => <DocsCard class={`flex w-full flex-col`} doc={guide} />)}
		</DocsCardList>
	</article>
</Layout>

<style>
	:global(h3) {
		@apply mt-0 !important;
		@apply mb-2 !important;
	}
</style>
