name: "Blog: CI/CD"

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  blog:
    name: Build Blog
    runs-on: ubuntu-latest
    env:
      PRODUCTION_DOMAIN: blog.deepgram.com
      STAGING_DOMAIN: sweet-pie-c52a63-blog.netlify.app
      BUILD_PATH: ./blog
      IS_PRODUCTION: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
      DEPLOY_PREFIX: blog
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Configure dynamic environment variables for production
        if: ${{ env.IS_PRODUCTION == 'true' }}
        run: |
          echo "URL=https://$(echo $PRODUCTION_DOMAIN)" >> $GITHUB_ENV
          echo "ENVIRONMENT_NAME=$(echo $DEPLOY_PREFIX)-production" >> $GITHUB_ENV
          echo "BUILD_ALIAS=" >> $GITHUB_ENV
      - name: Configure dynamic environment variables for staging
        if: ${{ env.IS_PRODUCTION != 'true' }}
        run: |
          echo "URL=https://$(echo $STAGING_DOMAIN)" >> $GITHUB_ENV
          echo "ENVIRONMENT_NAME=$(echo $DEPLOY_PREFIX)-deploy-preview-${{ github.event.number }}" >> $GITHUB_ENV
          echo "BUILD_ALIAS=deploy-preview-${{ github.event.number }}" >> $GITHUB_ENV
      - run: echo $URL
      - run: env