---
import PrimarySection from "../layout/PrimarySection.astro";
import Svg from "../general/Svg.astro";
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";
import ContrastSection from "../decoration/ContrastSection.astro";
import AmplifyQuote from "../quotes/AmplifyQuote.astro";
---

<footer class="text-white text-base bg-black">
	<ContrastSection contrast="black" background="white" topDivider="eclipse-divider" class="mt-20 pb-20">
		<PrimarySection>
			<AmplifyQuote>
				<h1>Ready to see Deepgram in Action?</h1>
				<p>Get your API key and unlock $150 in free credit.</p>
				<Link href="https://console.deepgram.com/signup">Start Free</Link>
			</AmplifyQuote>
		</PrimarySection>
	</ContrastSection>
	<PrimarySection>
		<div class="grid grid-cols-1 xl:grid-cols-6 gap-10">
			<div class="xl:col-span-4 flex flex-col space-y-10 py-10">
				<Svg name="deepgram-long" class="text-coral w-56 stroke-0" />
				<p>Every Voice. Heard and understood.</p>
				<ul class="grid grid-cols-4 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 place-items-center md:place-items-start gap-4">
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="twitch" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="github" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm flex flex-col items-center"
							><Icon icon="twitter" class="fill-current w-10" /><span class="text-xs">DEVS</span>
						</Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="twitter" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="linkedin" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="youtube" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="facebook" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="dribbble" class="fill-current w-10" /></Link>
					</li>
				</ul>
			</div>
			<div class="xl:col-span-2 py-10">
				<p class="uppercase">Emails + Updates</p>
				<form>
					<div class="flex flex-col space-y-4">
						<div class="flex flex-col space-y-2">
							<div class="flex">
								<input id="work-email" class="bg-black text-white border-b-2 border-white" placeholder="name@company.com" type="email" class="w-60" />
								<button class="button button--quaternary" type="submit">Submit</button>
							</div>
							<label for="work-email" class="text-storm">Work email</label>
						</div>
						<div>
							<input type="checkbox" /> I’m good with the <Link href="/" class="text-lightIris">Privacy Policy</Link>
						</div>
					</div>
				</form>
			</div>
		</div>
	</PrimarySection>
	<div class="bg-darkCharcoal">
		<PrimarySection class="py-10 flex flex-col space-y-10">
			<div class="grid grid-cols-2 xl:grid-cols-6 gap-10">
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Product</li>
					<li>Product</li>
					<li>Model Overview</li>
					<li>Languages</li>
					<li>Why Deepgram</li>
					<li>SDKs + Tools</li>
					<li>Free API Key</li>
					<li>Pricing</li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Solutions</li>
					<li>Built with Deepgram</li>
					<li>Contact Centers</li>
					<li>Speech Analytics</li>
					<li>Conversational AI</li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Docs</li>
					<li>Documentation</li>
					<li>Guides</li>
					<li>Tutorials</li>
					<li>API Reference</li>
					<li>Status</li>
					<li>Changelog</li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">About</li>
					<li>About</li>
					<li>Blog</li>
					<li>Newsroom</li>
					<li>
						Careers<br /><span class="text-lightIris font-bold">We're Hiring! ✨</span>
					</li>
					<li>Contact Us</li>
					<li>Security</li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Compare</li>
					<li>ASR Comparison Tool</li>
					<li>Google STT Alternative</li>
					<li>Amazon Transcribe STT Alternative</li>
					<li>Microsoft Azure STT Alternative</li>
					<li>Assembly AI Alternative</li>
				</ul>
			</div>
			<p class="text-stone">Terms | Privacy | Copyright &copy;2022</p>
		</PrimarySection>
	</div>
</footer>
