---
import "@docsearch/css/dist/style.css";
import "../search/DocSearch.css";

import Button from "../general/Button.astro";
import DocSearch from "../search/DocSearch";
import Link from "../general/Link.astro";
import MobileNavItem from "../nav/MobileNavItem.astro";
import MobileNavMenu from "../nav/MobileNavMenu.astro";
import MobileNavMenuItem from "../nav/MobileNavMenuItem.astro";
import NavItem from "../nav/NavItem.astro";
import NavMenu from "../nav/NavMenu.astro";
import NavMenuItem from "../nav/NavMenuItem.astro";
import NavMenuPrimaryItem from "../nav/NavMenuPrimaryItem.astro";
import Svg from "../general/Svg.astro";
---

<header x-data="{ menu: null }" class="sticky top-0 z-10">
	<div class="absolute w-full h-screen bg-black/75 text-white" style="display: none;" x-show="menu !== null" x-on:click="menu = null"></div>
	<nav class="absolute inset-x-0 bg-almostBlack/80 text-white">
		<div class="max-w-screen-2xl mx-auto px-6 lg:px-10 flex justify-between items-center xl:justify-start">
			<div class="mr-[2.875rem]">
				<Link href="https://deepgram.com" class="flex">
					<span class="sr-only">Deepgram</span>
					<Svg name="deepgram" class="my-[1.125rem] h-[2.3125rem] w-auto text-coral" />
				</Link>
			</div>
			<div class="flex items-center space-x-5 xl:ml-12 pb-1 xl:hidden">
				<Link href="https://console.deepgram.com/signup" class="button button--mini sm:button--small button--primary">Sign Up</Link>
				<Button class="button button--mini sm:button--small button--secondary" x-on:click="menu = 'Mobile'" aria-label="Mobile Menu">Menu</Button>
			</div>
			<div class="hidden xl:flex-1 xl:flex xl:items-center xl:justify-between">
				<nav class="flex space-x-[2.1875rem]" x-on:click.outside="menu = null">
					<!-- Product -->
					<NavMenu name="Product" primary>
						<NavMenuPrimaryItem slot="primary" href="https://deepgram.com/product/overview/" icon="star" description="Meet the Deepgram speech‑to‑text API"
							>View Product
						</NavMenuPrimaryItem>

						<NavMenuItem href="https://deepgram.com/product/model-overview" icon="model">Model Overview</NavMenuItem>
						<NavMenuItem href="https://developers.deepgram.com/sdks-tools" icon="box">SDKs + Tools</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/product/languages" icon="globe">Languages</NavMenuItem>
						<NavMenuItem href="https://console.deepgram.com/signup?jump=keys" icon="code">Free API Key</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/product/why-deepgram" icon="question">Why Deepgram</NavMenuItem>
					</NavMenu>

					<!-- Solutions -->
					<NavMenu name="Solutions" gridClass="lg:grid-cols-1 min-w-[18.25rem]">
						<NavMenuItem href="https://deepgram.com/built-with-deepgram" icon="sparkles">Built with Deepgram</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/solutions/contact-centers/" icon="head-headphones">Contact Centers</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/solutions/speech-analytics/" icon="mag-glass-soundwave">Speech Analytics</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/solutions/voicebots/" icon="robot-head">Conversational AI</NavMenuItem>
					</NavMenu>

					<!-- Pricing -->
					<NavItem href="https://deepgram.com/pricing/" class="text-white">Pricing</NavItem>

					<!-- Docs -->
					<NavMenu name="Docs">
						<NavMenuItem href="https://developers.deepgram.com/documentation/" icon="file">Documentation</NavMenuItem>
						<NavMenuItem href="https://developers.deepgram.com/api-reference/" icon="code-laptop">API Reference</NavMenuItem>
						<NavMenuItem href="https://developers.deepgram.com/documentation/guides/" icon="book">Guides</NavMenuItem>
						<NavMenuItem href="https://status.deepgram.com/" icon="heartbeat">Status</NavMenuItem>
						<NavMenuItem href="https://developers.deepgram.com/tags/tutorial/" icon="grad">Tutorials</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/changelog/" icon="rotating-gear">Changelog</NavMenuItem>
					</NavMenu>

					<!-- Blog -->
					<NavItem href="https://developers.deepgram.com/blog/" class="text-white">Blog</NavItem>

					<!-- About -->
					<NavMenu name="About" gridClass="lg:grid-cols-1 min-w-[18.25rem]">
						<NavMenuItem href="https://deepgram.com/company/about/" icon="deepgram-d">About Us</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/company/newsroom/" icon="newspaper">Newsroom</NavMenuItem>
						<NavMenuItem href="https://deepgram.com/company/careers/" icon="open-door">Careers</NavMenuItem>
					</NavMenu>
				</nav>
				<div class="flex space-x-[1rem] items-center xl:ml-12">
					<Button id="docsearch-button-d" icon="search" class="button big-icon button--main-nav" aria-label="Search" />
					<Link href="https://console.deepgram.com/" class="button button--small button--main-nav text-white">Log In</Link>
					<Link href="https://deepgram.com/contact-us/" class="button button--secondary button--small w-[7rem]">Contact Us</Link>
					<Link href="https://console.deepgram.com/signup" class="button button--primary button--small w-[7rem]">Sign Up</Link>
				</div>
			</div>
		</div>

		<div class="fixed flex flex-col inset-0 xl:hidden bg-black" style="display: none;" x-show="menu === 'Mobile'">
			<div class="relative inset-x-0 bg-almostBlack text-white">
				<div class="max-w-screen-2xl mx-auto px-6 flex justify-between items-center xl:justify-start">
					<div class="mr-[2.875rem]">
						<Link href="https://deepgram.com" class="flex">
							<span class="sr-only">Deepgram</span>
							<Svg name="deepgram" class="my-[1.125rem] h-[2.3125rem] w-auto text-coral" />
						</Link>
					</div>
					<div class="flex items-center space-x-5 xl:ml-12 pb-1 xl:hidden">
						<Button id="docsearch-button-m" icon="search" class="button big-icon button--main-nav" aria-label="Search" />
						<Button icon="xmark-large" class="button big-icon button--main-nav" x-on:click="menu = null" aria-label="Close Menu" />
					</div>
				</div>
			</div>
			<div class="grow flex flex-col justify-between mt-4  overflow-y-auto">
				<div class="bg-darkCharcoal">
					<nav class="grid font-bold">
						<!-- Product -->
						<MobileNavMenu name="Product" primary>
							<MobileNavMenuItem href="https://deepgram.com/product/overview/" icon="star">View Product</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/product/model-overview/" icon="model">Model Overview</MobileNavMenuItem>
							<MobileNavMenuItem href="https://developers.deepgram.com/sdks-tools/" icon="box">SDKs + Tools</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/product/languages/" icon="globe">Languages</MobileNavMenuItem>
							<MobileNavMenuItem href="https://console.deepgram.com/signup?jump=keys" icon="code">Free API Key</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/why-deepgram/" icon="question">Why Deepgram</MobileNavMenuItem>
						</MobileNavMenu>

						<!-- Solutions -->
						<MobileNavMenu name="Solutions">
							<MobileNavMenuItem href="https://deepgram.com/built-with-deepgram" icon="sparkles">Built with Deepgram</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/solutions/contact-centers/" icon="head-headphones">Contact Centers</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/solutions/speech-analytics/" icon="mag-glass-soundwave">Speech Analytics</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/solutions/voicebots/" icon="robot-head">Convo AI</MobileNavMenuItem>
						</MobileNavMenu>

						<!-- Pricing -->
						<MobileNavItem href="https://deepgram.com/pricing" class="text-white">Pricing</MobileNavItem>

						<!-- Docs -->
						<MobileNavMenu name="Docs">
							<MobileNavMenuItem href="https://developers.deepgram.com/documentation/" icon="file">Documentation</MobileNavMenuItem>
							<MobileNavMenuItem href="https://developers.deepgram.com/documentation/guides/" icon="code-laptop">Guides</MobileNavMenuItem>
							<MobileNavMenuItem href="https://status.deepgram.com/" icon="book">Status</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/changelog/" icon="heartbeat">Changelog</MobileNavMenuItem>
							<MobileNavMenuItem href="https://developers.deepgram.com/api-reference/" icon="grad">API Reference</MobileNavMenuItem>
							<MobileNavMenuItem href="https://developers.deepgram.com/tags/tutorial/" icon="rotating-gear">Tutorials</MobileNavMenuItem>
						</MobileNavMenu>

						<!-- Blog -->
						<MobileNavItem href="https://developers.deepgram.com/blog/" class="text-white">Blog</MobileNavItem>

						<!-- About -->
						<MobileNavMenu name="About">
							<MobileNavMenuItem href="https://deepgram.com/company/about/" icon="deepgram-d">About Us</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/company/newsroom/" icon="newspaper">Newsroom</MobileNavMenuItem>
							<MobileNavMenuItem href="https://deepgram.com/company/careers/" icon="open-door">Careers</MobileNavMenuItem>
						</MobileNavMenu>
					</nav>
				</div>
			</div>
			<div class="bg-black grid grid-cols-2 grid-rows-2 gap-4 p-6 shadow-menu">
				<Link href="https://console.deepgram.com" class="button button--small button--secondary button--block">Log In</Link>
				<Link href="https://console.deepgram.com" class="button button--small button--tertiary button--block">Sign Up</Link>
				<Link href="/contact" class="col-span-2 button button--small button--primary button--block">Contact Us</Link>
			</div>
		</div>
	</nav>
	<DocSearch client:only="preact" />
</header>
